dj-database-url==0.4.2
Django==1.11.6
django-appconf==1.0.2
#versao q a traducao ta funcionando
django-autocomplete-light==3.3.0rc4
#https://github.com/linneudm/django-autocomplete-light/tarball/dj2_rebased#egg=django-autocomplete-light
django-compressor==2.2
django-excel==0.0.9
django-localflavor==1.5.2
#Esta linha é para o sistema de mensagens com bootstrap.
#django-messages==0.5.3 a versão deve especificar o branch (master) para remover o erro
https://github.com/linneudm/django-messages/tarball/master#egg=django-messages
django-multiupload==0.5.2
django-sass-processor==0.5.6
django-widget-tweaks==1.4.1
et-xmlfile==1.0.1
jdcal==1.3
libsass==0.13.4
lml==0.0.1
openpyxl==2.4.8
psycopg2==2.7.3.2
pyexcel==0.5.4
pyexcel-io==0.5.1
pyexcel-webio==0.1.2
pytz==2017.2
rcssmin==1.0.6
rjsmin==1.0.12
six==1.11.0
texttable==1.0.0
xlrd==1.1.0
