{% extends 'base.html' %}
{% block body %}

  <div class="container-fluid">
		<nav class="navbar navbar-light bg-light">
    <div class="col-md-4">
			<form class="form-horizontal" action="." method="get">
				<div class="input-group">
					<input id="search_box" name="search_box" type="text" placeholder="Informe o nome da Nutricionista" class="form-control" autofocus="true" value="{{ request.GET.search_box }}">
						<button type="submit" class="form-group input-group-addon btn btn-secondary" title="Clique para realizar a pesquisar">
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>
					</div>
			</form>
    </div>
		<ul class="nav justify-content-end">
			<li class"nav-item">
				<a class="btn btn-outline-secondary float-right" href="{% url 'nutritionist:create' %}">
					<i class="fa fa-plus" aria-hidden="true"></i>
						Novo
				</a>
			</li>
		</ul>
	</nav>
</div>

<div class="container-fluid">
	<div class="row">
	{% if object_list.count > 0 %}
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Sexo</th>
						<th>CRN</th>
						<th style="width: 165px;">Ações</th>
					</tr>
				</thead>
				<tbody>
					{% for nutritionist in object_list %}
					<tr>
						<td>{{ nutritionist.first_name|slice:":25" }}</td>
						<td>{{ nutritionist.sex }}</td>
            <td>{{nutritionist.crn }}</td>
						<td>
							<a href="{% url 'nutritionist:details' nutritionist.id %}" class="btn btn-outline-secondary" title="Exibir">
								<i class="fa fa-eye" aria-hidden="true"></i>
							</a>

							<a href="{% url 'nutritionist:edit' nutritionist.id %}" class="btn btn-outline-secondary" title="Editar">
								<i class="fa fa-edit" aria-hidden="true"></i>
							</a>

							<a href="#modal-id-{{ nutritionist.id }}" class="btn btn-outline-secondary" title="Remover" data-toggle="modal">
								<i class="fa fa-trash-alt" aria-hidden="true"></i>
							</a>
						</td>
					</tr>

					<!-- MODAL -->
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
						<div class="modal fade" id="modal-id-{{ nutritionist.id }}">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title">Alerta!</h4>
									</div>
									<div class="modal-body">
										<p>Deseja realmente remover esse usuário: <strong>{{ nutritionist.username }}</strong>?</p>
									</div>
									<div class="modal-footer">
										<form action="{% url 'nutritionist:delete' nutritionist.pk %}" method="post">{%csrf_token%}
											<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
											<button type="submit" class='btn btn-danger' title='Deletar'>
												Delete
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /MODAL -->
					{% endfor %}
				</tbody>
			</table>
	{% else %}
		<p><center>Não há nutricionistas registrados.</center></p>
	{% endif %}
	</div>
	<center>
			<!-- Paginação -->
			{% if page_obj.has_other_pages %}
			<nav>
				<ul class="pagination">
					{# Previous page link #}
					{% if page_obj.has_previous %}
					<li>
						<a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search_box %}&search_box={{ request.GET.search_box }}{% endif %}">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					{% else %}
					<li class="disabled">
						<a href="#">&laquo;</a>
					</li>
					{% endif %}

					{# First page #}
					{% if show_first %}
					<li>
						<a href="?page=1">Primeiro</a>
					</li>
					{% endif %}

					{# List of pages (with current "active") #}
					{% for page in page_numbers %}
					{% ifequal page page_obj.number %}
					<li class="active">
						<a href="#">{{ page }}</a>
					</li>
					{% else %}
					<li>
						<a href="?page={{ page }}{% if request.GET.search_box %}&search_box={{ request.GET.search_box }}{% endif %}">{{ page }}</a>
					</li>
					{% endifequal %}
					{% endfor %}

					{# Last page #}
					{% if show_last %}
					<li>
						<a href="?page=last">{{ page_obj.pages }}Último</a>
					</li>
					{% endif %}

					{# Next page link #}
					{% if page_obj.has_next %}
					<li>
						<a href="?page={{ page_obj.next_page_number }}{% if request.GET.search_box %}&search_box={{ request.GET.search_box }}{% endif %}">&raquo;</a>
					</li>
					{% else %}
					<li class="disabled">
						<a href="#">&raquo;</a>
					</li>
					{% endif %}
				</ul>
			</nav>
			{% endif %}
			<!-- Fim da Paginação -->
		</center>

</div>

{% endblock %}
