{% extends "base.html" %}
{% load widget_tweaks %}
{% block body %}

<nav class="navbar navbar-light bg-light nav-item">
  <div class="container-fluid justify-content-center align-items-center">
    <div class="navbar-header">
      <a class="navbar-brand text-center" href="#">Criação/Alteração de Usuário Nutricionista</a>
    </div>
    <ul class="navbar-nav navbar-right">
      <li class"nav-item"><a class="btn btn-outline-secondary" href="{% url 'nutritionist:list' %}">Voltar</a></li>
    </ul>
  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		    <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
		    	<fieldset>
            <!-- Nav tabs -->
  					<ul class="nav nav-tabs" role="tablist">
  						<li class="nav-item"><a class="nav-link active" href="#tab-dados" aria-controls="tab-dados" role="tab" data-toggle="tab">Dados</a></li>
  						<li class="nav-item"><a class="nav-link" href="#tab-endereco" aria-controls="tab-endereco" role="tab" data-toggle="tab">Endereço</a></li>
  					</ul>

  					<!-- Tab panes -->
  					<div class="tab-content">
  						<div role="tabpanel" class="tab-pane fade show active" id="tab-dados">
  							{% for field in form %}
  							{% if field.errors %}
  							<div class="form-group error" >
  								<label class="control-label" >{{ field.label }}</label>
  								{{ field|add_class:"form-control input-md" }}
  								{% for error in field.errors%}
  								<small class="form-text text-muted"><i class="fa fa-exclamation-circle fa-fw" color="red"></i>{{ error}}</small>
  								{% endfor%}
  							</div>
  							{%else%}
  							<div class="form-group">
  								<label class="control-label" >{{ field.label }}</label>
  								{{ field|add_class:"form-control input-md" }}
  							</div>
  							{%endif%}
  							{% endfor %}
  						</div>
  						<div role="tabpanel" class="tab-pane fade" id="tab-endereco">
  							{% for field in address_form %}
  							{% if field.errors %}
  							<div class="form-group error" >
  								<label class="control-label" >{{ field.label }}</label>
  								{{ field|add_class:"form-control input-md" }}
  								{% for error in field.errors%}
  								<small class="form-text text-muted"><i class="fa fa-exclamation-circle fa-fw" color="red"></i>{{ error}}</small>
  								{% endfor%}
  							</div>
  							{%else%}
  							<div class="form-group">
  								<label class="control-label" >{{ field.label }}</label>
  								{{ field|add_class:"form-control input-md" }}
  							</div>
  							{%endif%}
  							{% endfor %}
  						</div>
  					</div>

  					<div class="form-group">
  						<button type="submit" value="Salvar" class="btn btn-primary">
  							<span class="fa fa-save" aria-hidden="true"></span>
  							Salvar
  						</button>
  					</div>
		        </fieldset>
		    </form>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
	  $("#id_birth_date").attr("readonly", "true");
	  $("#id_birth_date").datepicker({
	    format: "dd/mm/yyyy",
		todayBtn: "linked",
		language: "pt-BR",
		autoclose: true,
		todayHighlight: true
	  });

	  $("#id_phone").inputmask({"mask": "(99) 9 9999-9999"}); //specifying options
	  $("#id_zip_code").inputmask({"mask": "99999-999"}); //specifying options
	});
</script>
{% endblock %}
