{% extends 'base.html' %}

{% block body %}

<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <div class="navbar-header">
      <a class="navbar-brand text-center" href="#">Detalhes</a>
    </div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a href="{% url 'patient:analysis_print' object.id %}" class="btn btn-outline-secondary" title="Imprimir">
          Imprimir
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-secondary float-right" href="javascript:window.history.go(-1)">
          Voltar
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="container-fluid">
  <div class="row">
    <table class="table table-hover table-responsive-lg">
      <thead>
        <tr>
          <th>Refeição</th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th>Café</th>
          <th>Quantidade</th>
          <th>Medida Caseira</th>
        </tr>
      </thead>
      <tbody>
        {% for meal in object.meal_analysis.all %}
        <tr>
          {% if meal.meal == "CAFÉ DA MANHÃ" %}
          <td>{{meal.original_food.description}}</td>
          <td>{{meal.weight}}</td>
          <td>{{meal.home_measure}}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
      <thead>
        <tr>
          <th>Lanche</th>
          <th>Quantidade</th>
          <th>Medida Caseira</th>
        </tr>
      </thead>
      <tbody>
        {% for meal in object.meal_analysis.all %}
        <tr>
          {% if meal.meal == "LANCHE I" %}
          <td>{{meal.original_food.description}}</td>
          <td>{{meal.weight}}</td>
          <td>{{meal.home_measure}}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
      <thead>
        <tr>
          <th>Almoço</th>
          <th>Quantidade</th>
          <th>Medida Caseira</th>
        </tr>
      </thead>
      <tbody>
        {% for meal in object.meal_analysis.all %}
        <tr>
          {% if meal.meal == "ALMOÇO" %}
          <td>{{meal.original_food.description}}</td>
          <td>{{meal.weight}}</td>
          <td>{{meal.home_measure}}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
      <thead>
        <tr>
          <th>Lanche</th>
          <th>Quantidade</th>
          <th>Medida Caseira</th>
        </tr>
      </thead>
      <tbody>
        {% for meal in object.meal_analysis.all %}
        <tr>
          {% if meal.meal == "LANCHE II" %}
          <td>{{meal.original_food.description}}</td>
          <td>{{meal.weight}}</td>
          <td>{{meal.home_measure}}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
      <thead>
        <tr>
          <th>Jantar</th>
          <th>Quantidade</th>
          <th>Medida Caseira</th>
        </tr>
      </thead>
      <tbody>
        {% for meal in object.meal_analysis.all %}
        <tr>
          {% if meal.meal == "JANTAR" %}
          <td>{{meal.original_food.description}}</td>
          <td>{{meal.weight}}</td>
          <td>{{meal.home_measure}}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
      <thead>
        <tr>
          <th>Ceia</th>
          <th>Quantidade</th>
          <th>Medida Caseira</th>
        </tr>
      </thead>
      <tbody>
        {% for meal in object.meal_analysis.all %}
        <tr>
          {% if meal.meal == "CEIA" %}
          <td>{{meal.original_food.description}}</td>
          <td>{{meal.weight}}</td>
          <td>{{meal.home_measure}}</td>
          {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <th class="text-uppercase">Total</th>
            <td></td>
            <th class="text-uppercase">{{object.meal_analysis.count}} alimentos cadastrados.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container">

  <p>Orientações</p>
  {% for guidance in object.guidance.all %}
  <p>Descrição: {{guidance.description}}</p>
  <p>{{guidance.message}}</p>
  <p></p>
  {% endfor %}
</div>
{% endblock %}
