{% extends "base.html" %}
{% load widget_tweaks %}
{% block body %}
<nav class="navbar navbar-light bg-light nav-item">
  <div class="container-fluid justify-content-center align-items-center">
    <div class="navbar-header">
      <a class="navbar-brand text-center" href="#">Criar/Alterar dados do Cardápio</a>
    </div>
    <ul class="navbar-nav navbar-right">
      <li class"nav-item">
        <a class="btn btn-outline-secondary" href="{% url 'patient:analysis_list' consultation_id %}">Voltar</a>
        <a class="btn btn-success"  data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Nutrientes
        </a>
      </div>
    </li>
  </ul>
</div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <!--Duplica, caso a requisição seja DUPLICATE -->
      {% if "duplicate" in request.path|cut:"/" %}
        {% url 'patient:analysis_create' consultation_id as URL %}
      {% endif %}
      <a class="btn btn-outline-secondary" href="{{URL}}">Teste</a>
      <form action="{{URL}}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
              {% for field in form %}
              {% if field.errors %}
              <div class="form-group error" >
                <label class="control-label" >{{ field.label }}</label>
                {{ field|add_class:"form-control input-md" }}
                {% for error in field.errors%}
                <span class="help-inline error">{{ error}}</span>
                {% endfor%}
              </div>
              {%else%}
              <div class="form-group">
                <label class="control-label" >{{ field.label }}</label>
                {% if field.label == "Paciente" %}
                {{ field|add_class:"form-control input-md" }}
                <a class="badge badge-primary" href="{% url 'patient:create' %}">Paciente novo? Clique aqui para cadastrar.</a>
                {% elif field.label == "Data da consulta" %}
                <div class="input-group date datepicker">
                  {{ field|add_class:"form-control input-md" }}
                  <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                {% elif field.label == "Patologia" %}
                {{ field|add_class:"form-control input-md" }}
                <a href="#modal" class="badge badge-info" data-toggle="modal">Patologia nova? Clique aqui para cadastrar.</a>
                {% else %}
                {{ field|add_class:"form-control input-md" }}
                {% endif %}
              </div>
              {%endif%}
              {% endfor %}
              <h4>Refeições</h4>
              {% for formset_error in item_formset.non_form_errors %}
              <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{formset_error}}
              </div>
              {% endfor %}
              {% for dict in item_formset.errors %}
              {% for formset_error in dict.values %}
              <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{formset_error}}
              </div>
              {% endfor %}
              {% endfor %}
              <div class="table-responsive">
                <table class="table table-striped" id="items_table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Descrição</th>
                      <th>Horário</th>
                      <th>Peso</th>
                      <th>Med. Caseira</th>
                      <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for form_item in item_formset.forms %}
                    <tr id="{{ form_item.prefix }}-row">
                      {{form_item.id}}
                      <td>{% if form_item.instance.id %} {{form_item.instance.id}}{{form_item.DELETE}} {%endif%}</td>
                      <td>{% if form_item.original_food.errors %}{{form_item.original_food.errors}}{{form_item.original_food|add_class:"form-control  has-error has-feedback"}}{%else%}{{form_item.original_food|add_class:"form-control"}}{%endif%}</td>
                      <td>{% if form_item.meal.errors %}{{form_item.meal.errors}}{{form_item.meal|add_class:"form-control  has-error has-feedback"}}{%else%}{{form_item.meal|add_class:"form-control"}}{%endif%}</td>
                      <td>{% if form_item.weight.errors %}{{form_item.weight.errors}}{{form_item.weight|add_class:"form-control  has-error has-feedback"}}{%else%}{{form_item.weight|add_class:"form-control"}}{%endif%}</td>
                      <td>{% if form_item.home_measure.errors %}{{form_item.home_measure.errors}}{{form_item.home_measure|add_class:"form-control  has-error has-feedback"}}{%else%}{{form_item.home_measure|add_class:"form-control"}}{%endif%}</td>
                      <td></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {{ item_formset.management_form }}
              </div>
            <div class="form-group">
              <button type="submit" value="Salvar" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                Salvar
              </button>
              <a class="btn btn-success" href="#">Voltar</a>
            </div>
          </fieldset>
        </form>
        <!-- Micro e macro nutrientes -->
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <div class="row">
              <div class="col-lg-6">
                <table class="table table-bordered table-responsive-lg">
                  <thead>
                    <tr>
                      <th>Micro</th>
                      <th>TOTAL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Energia</th>
                      <td>{{object.energy|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Carboidratos</th>
                      <td>{{object.carb|floatformat:"2"}}</td>
                    </tr>            
                    <tr>
                      <th>G. Total</th>
                      <td>{{object.total_fat|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>G. Poli</th>
                      <td>{{object.poly_fat|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>G. Mono</th>
                      <td>{{object.mono_fat|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>G. Sat.</th>
                      <td>{{object.sat_fat|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Proteina</th>
                      <td>{{object.protein|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Fib. Total</th>
                      <td>{{object.total_fibers|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Fib. Sol.</th>
                      <td>{{object.sol_fibers|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Fib. Insol.</th>
                      <td>{{object.insol_fibers|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Colesterol</th>
                      <td>{{object.cholesterol|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Retinol (A)</th>
                      <td>{{object.retinol|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Ac. Ascórbico (C)</th>
                      <td>{{object.ac_ascorbic|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Tiamina (B1)</th>
                      <td>{{object.tiamine|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Riboflavina (B2)</th>
                      <td>{{object.riboflavin|floatformat:"2"}}</td>
                    </tr>          
                    <tr>
                      <th>Piridoxina (B6)</th>
                      <td>{{object.pyridoxine|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Cobalamina</th>
                      <td>{{object.cobalamin|floatformat:"2"}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-lg-6">
                <table class="table table-bordered table-responsive-lg">
                  <thead>
                    <tr>
                      <th>Micro</th>
                      <th>TOTAL</th>
                    </tr>
                  </thead>
                  <tbody> 
                    <tr>
                      <th>Vitamina D</th>
                      <td>{{object.dvitamin|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Niacina (B3)</th>
                      <td>{{object.niacin|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Ác. Fólico</th>
                      <td>{{object.ac_folic|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Ác. Pantotênico (B5)</th>
                      <td>{{object.ac_pant|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Tocoferol (E)</th>
                      <td>{{object.tocopherol|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Iodo</th>
                      <td>{{object.iodine|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Sódio</th>
                      <td>{{object.sodium|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Cálcio</th>
                      <td>{{object.calcium|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Magnésio</th>
                      <td>{{object.magnesium|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Zinco</th>
                      <td>{{object.zinc|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Manganês</th>
                      <td>{{object.manganese|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Potássio</th>
                      <td>{{object.potassium|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Fósforo</th>
                      <td>{{object.phosphor|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Ferro</th>
                      <td>{{object.iron|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Cobre</th>
                      <td>{{object.copper|floatformat:"2"}}</td>
                    </tr>
                    <tr>
                      <th>Selênio</th>
                      <td>{{object.selenium|floatformat:"2"}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block scripts %}
  {{ block.super }}
  {{ form.media }}

  <script type="text/javascript">
  $(document).ready(function(){
    $("#id_date").attr("readonly", "true");
    $("#id_date").datepicker({
      format: "dd/mm/yyyy",
      todayBtn: "linked",
      language: "pt-BR",
      autoclose: true,
      todayHighlight: true
    });
    $(function() {
      $('#items_table tbody tr').formset({
            // For inline formsets, be sure to set the prefix, as the default prefix
            // ('form') isn't correct.
            // Django appears to generate the prefix from the lowercase plural
            // name of the related model, with camel-case converted to underscores.
            prefix: '{{ item_formset.prefix }}',
            addText: 'Novo',          // Text for the add link
            deleteText: 'Remover',
          });
    });
    $("#id_mbr").attr("readonly", "true");
  //$("#id_resultmbr").text('MBR: {{consultation.energycalc.mbr}}');
});
  </script>
  {% endblock %}
