{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block body %}
<div class="clearfix"></div>
<nav class="navbar navbar-light bg-light nav-item">
  <div class="container-fluid justify-content-center align-items-center">
    <div class="navbar-header">
      <a class="navbar-brand text-center" href="#">Criar/Alterar dados do Cardápio</a>
    </div>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="btn btn-outline-secondary" href="{% url 'patient:analysis_list' consultation_id %}">Voltar</a>
      </li>
    </div>
  </ul>
</nav>

<div class="container-fluid">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a class="nav-link active" href="#tab-cardapio" aria-controls="tab-cardapio" role="tab" data-toggle="tab">Cardápio</a></li>
    <li class="nav-item"><a class="nav-link" href="#tab-orientacao" aria-controls="tab-orientacao" role="tab" data-toggle="tab">Gerar Orientação</a></li>
    <li class="nav-item"><a class="nav-link" href="#tab-orientacao2" aria-controls="tab-orientacao2" role="tab" data-toggle="tab">Orientação dada</a></li>
  </ul>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade show active" id="tab-cardapio">
    <div class="pt-4"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header">
              Café da Manhã
            </div>
            <ul class="list-group list-group-flush">
              {% for meal in object.meal_analysis.all %}
              
              {% if meal.meal == "CAFÉ DA MANHÃ" %}
              <div class="cafe">
                <li class="list-group-item">{{meal.original_food}}
                  <a class="btn btn-danger pull-right" href="{% url 'patient:meal_delete' meal.pk %}"><i class="fa fa-trash"></i></a>
                  <a href="#modal-id-{{ meal.id }}" class="btn btn-outline-primary pull-right" title="Detalhar" data-toggle="modal">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </a>
                </li>
              </div>


              {% endif %}
              <!-- MODAL -->
              <div class="modal fade" id="modal-id-{{ meal.id }}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">{{meal.original_food}}</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-lg-6">
                          <p>Quantidade: {{meal.weight}}</p>
                          <p>Energia: {{meal.energy}}</p>
                          <p>Carboidratos: {{meal.carbohydrates}}</p>
                          <p>Proteína: {{meal.protein}}</p>
                        </div>
                        <div class="col-lg-6">
                          <p>G. Total: {{meal.total_fat}}</p>
                          <p>Cálcio: {{meal.calcium}}</p>
                          <p>Ferro: {{meal.iron}}</p>
                          <p>Retinol (Vit. A): {{meal.retinol}}</p>
                          <p>Ácido Ascórbico (Vit. C): {{meal.ac_ascorbic}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-lg-12">
                        <h4>Substitutos</h4>
                        </div>
                      </div>
                      <div class="row">

                          {% for substitute in object.substitute_analysis.all %}
                          {% if substitute.meal_substitute.id == meal.id %}
                          
                        <div class="col-lg-6">
                            {{substitute.food_substitute}} - Qtd.: {{substitute.weight_substitute}}
                        </div>
                          {% endif %}
                          {% endfor %}
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>       
              <!-- /MODAL -->
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header">
              Lanche I
            </div>
            <ul class="list-group list-group-flush">
              {% for meal in object.meal_analysis.all %}
              {% if meal.meal == "LANCHE I" %}
              <div class="lanche1">
              <li class="list-group-item">{{meal.original_food}} 
                <a class="btn btn-danger pull-right" href="{% url 'patient:meal_delete' meal.pk %}"><i class="fa fa-trash"></i></a>
                <a href="#modal-id-{{ meal.id }}" class="btn btn-outline-primary pull-right" title="Detalhar" data-toggle="modal">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
              </li>
              </div>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header">
              Almoço
            </div>
            <ul class="list-group list-group-flush">
              {% for meal in object.meal_analysis.all %}
              {% if meal.meal == "ALMOÇO" %}
              <div class="almoco">
              <li class="list-group-item">{{meal.original_food}} 
                <a class="btn btn-danger pull-right" href="{% url 'patient:meal_delete' meal.pk %}"><i class="fa fa-trash"></i></a>
                <a href="#modal-id-{{ meal.id }}" class="btn btn-outline-primary pull-right" title="Detalhar" data-toggle="modal">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
              </li>
              </div>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="pb-4"></div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header">
              Lanche II
            </div>
            <ul class="list-group list-group-flush">
              {% for meal in object.meal_analysis.all %}
              {% if meal.meal == "LANCHE II" %}
              <div class="lanche2">
              <li class="list-group-item">{{meal.original_food}} 
                <a class="btn btn-danger pull-right" href="{% url 'patient:meal_delete' meal.pk %}"><i class="fa fa-trash"></i></a>
                <a href="#modal-id-{{ meal.id }}" class="btn btn-outline-primary pull-right" title="Detalhar" data-toggle="modal">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
              </li>
              </div>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header">
              Jantar
            </div>
            <ul class="list-group list-group-flush">
              {% for meal in object.meal_analysis.all %}
              {% if meal.meal == "JANTAR" %}
              <div class="jantar">
              <li class="list-group-item">{{meal.original_food}} 
                <a class="btn btn-danger pull-right" href="{% url 'patient:meal_delete' meal.pk %}"><i class="fa fa-trash"></i></a>
                <a href="#modal-id-{{ meal.id }}" class="btn btn-outline-primary pull-right" title="Detalhar" data-toggle="modal">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
              </li>
              </div>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header">
              Ceia
            </div>
            <ul class="list-group list-group-flush">
              {% for meal in object.meal_analysis.all %}
              {% if meal.meal == "CEIA" %}
              <div class="ceia">
              <li class="list-group-item">{{meal.original_food}} 
                <a class="btn btn-danger pull-right" href="{% url 'patient:meal_delete' meal.pk %}"><i class="fa fa-trash"></i></a>
                <a href="#modal-id-{{ meal.id }}" class="btn btn-outline-primary pull-right" title="Detalhar" data-toggle="modal">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
              </li>
              </div>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Necessidades Calóricas</strong>: {{consultation.tee}}
          </div>
        </div>
        <div class="col-lg-12">
          <div class="alert 
          {% if object.result.val == 0 %}
          alert-success 
          {% elif object.result.val == -1 or object.result.val == 1 %}
          alert-danger
          {% else %}
          alert-secondary
          {% endif %}
          alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Calorias encontradas</strong>: {{object.energy}}
          {% if object.result.val == 0 or object.result.val > 0 %}
          <p>
            <strong>Percentual de adequação:</strong> 
            {{object.result.percent|floatformat:"1"}}%
          </p>
          {% endif %}
          <p><strong>Situação:</strong> {{object.result.msg}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pb-4"></div>
  <div class="container-fluid">
    <div class="card card-body">
      <div class="card-text">
        <a class="btn btn-info pull-right"  data-toggle="collapse" href="#dados-cardapio" aria-expanded="false" aria-controls="dados-cardapio">
          Info
        </a>
      </div>


      {% if "add" in request.path|cut:"/" %}
      <div class="collapse show" id="dados-cardapio">
        {% else %}
        <div class="collapse" id="dados-cardapio">
          {% endif %}

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <!--Duplica, caso a requisição seja DUPLICATE -->
              {% if "duplicate" in request.path|cut:"/" %}
              {% url 'patient:analysis_create' consultation_id as URL %}
              {% endif %}
              <form class="form_save" id="form-analysis" action="{{URL}}" method="post" data-measure-url="{% url 'patient:food_measure' %}" enctype="multipart/form-data">{% csrf_token %}
                <fieldset>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label">Paciente</label>
                        <input class="form-control input-md" type="text" id="disabledTextInput" value="{{consultation.patient.first_name}} {{consultation.patient.last_name}}" disabled>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="control-label">Data da Consulta</label>
                        <input class="form-control input-md" type="text" id="disabledTextInput" value="{{consultation.date|date:"d/m/Y"}}" disabled>
                      </div>
                    </div>
                  </div>
                  {% for field in form %}
                  {% if field.errors %}
                  <div class="form-group error" >
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                    {% for error in field.errors%}
                    <small class="form-text text-muted"><i class="fa fa-exclamation-circle fa-fw" color="red"></i>{{ error}}</small>
                    {% endfor%}
                  </div>
                  {%else%}
                  {% if field.label != "Orientação" and field.label != "Orientação pré-definida" %}
                  <div class="form-group">
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                  </div>
                  {%endif%}
                  {%endif%}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-row">
            {% for field in meal_form %}
            {% if field.errors %}
            <div class="form-group error" >
              <label class="control-label" >{{ field.label }}</label>
              {{ field|add_class:"form-control input-md" }}
              {% for error in field.errors%}
              <small class="form-text text-muted"><i class="fa fa-exclamation-circle fa-fw" color="red"></i>{{ error}}</small>
              {% endfor%}
            </div>
            {%else%}
            <div class="col-lg-6">
              <div class="form-group">
                <label class="control-label" >{{ field.label }}</label>
                {% if field.label == "Unidade de Medida" %}
                <span class="text-muted">Deixe em branco para padrao</span>
                {% endif %}
                {{ field|add_class:"form-control input-md" }}
              </div>
            </div>
            {%endif%}
            {% endfor %}
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <a class="btn btn-primary"  data-toggle="collapse" href="#alimento-substituto" aria-expanded="false" aria-controls="alimento-substituto">
          Alimentos Substitutos
          </a>
        <div class="collapse" id="alimento-substituto">
          <div class="form-row">
            {% for field in substitute_meal_form %}
            {% if field.errors %}
            <div class="form-group error" >
              <label class="control-label" >{{ field.label }}</label>
              {{ field|add_class:"form-control input-md" }}
              {% for error in field.errors%}
              <small class="form-text text-muted"><i class="fa fa-exclamation-circle fa-fw" color="red"></i>{{ error}}</small>
              {% endfor%}
            </div>
            {%else%}
            <div class="col-lg-6">
              <div class="form-group">
                <label class="control-label" >{{ field.label }}</label>
                {{ field|add_class:"form-control input-md" }}
              </div>
            </div>
            {%endif%}
            {% endfor %}
          </div>
        </div>
        </div>
      </div>
      <div class="pt-4"></div>

      <div role="tabpanel" class="tab-pane fade" id="tab-orientacao">
        <div class="container-fluid">
          {% for field in form %}
          {% if field.label == "Orientação pré-definida" or field.label == "Orientação" %}
          {% if field.errors %}
          <div class="form-group error" >
            <label class="control-label" >{{ field.label }}</label>
            {{ field|add_class:"input-md" }}
            {% for error in field.errors%}
            <small class="form-text text-muted"><i class="fa fa-exclamation-circle fa-fw" color="red"></i>{{ error}}</small>
            {% endfor%}
          </div>
          {%else%}
          <div class="form-group">
            <label class="control-label pb-2" >{{ field.label }}
              {{ field|add_class:"input-md" }}
            </label>
          </div>
          {%endif%}
          {%endif%}
          {% endfor %}

          <div class="form-inline">
            {% for field in guidanceaux_form %}
            {% if field.errors %}
            <div class="form-group error" >
              <label class="control-label" >{{ field.label }}</label>
              {{ field|add_class:"form-control input-md" }}
              {% for error in field.errors%}
              <small class="form-text text-muted"><i class="fa fa-exclamation-circle fa-fw" color="red"></i>{{ error}}</small>
              {% endfor%}
            </div>
            {%else%}
            <div class="col-lg-6">
              <div class="form-group">
                <label class="control-label pb-2" >{{ field.label }}
                  {{ field|add_class:"form-control input-md" }}
                </label>
              </div>
            </div>
            {%endif%}
            {% endfor %}
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="tab-orientacao2">
        <div class="container-fluid">

          <div id="accordion" role="tablist">

            {% for item in object.guidanceaux.all %}
            <div class="card">
              <div class="card-header" role="tab" id="heading{{forloop.counter}}">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                    {{item.description}}
                  </a>
                </h5>
              </div>

              <div id="collapse{{forloop.counter}}" {% if forloop.counter == 1%} class="collapse show" {% else %} class="collapse" {% endif %} role="tabpanel" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordion">
                <div class="card-body">
                  {{item.message|linebreaks}}
                </div>
              </div>
            </div>
            {% endfor %}
            {% for item in object.guidance.all %}
            <div class="card">
              <div class="card-header" role="tab" id="heading1{{forloop.counter}}">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapse1{{forloop.counter}}" aria-expanded="true" aria-controls="collapse1{{forloop.counter}}">
                    {{item.description}}
                  </a>
                </h5>
              </div>

              <div id="collapse1{{forloop.counter}}" class="collapse" role="tabpanel" aria-labelledby="heading1{{forloop.counter}}" data-parent="#accordion">
                <div class="card-body">
                  {{item.message|linebreaks}}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="pb-4"></div>
      <div class="container-fluid">
        <div class="form-group">
          <button type="submit" value="Salvar" class="btn btn-primary">
            <span class="fa fa-save" aria-hidden="true"></span>
            Salvar
          </button>
          <a class="btn btn-info"  data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Nutrientes
          </a>
          <a class="btn btn-success" href="{% url 'patient:analysis_list' consultation_id %}">Voltar</a>
        </div>
      </div>
    </div>
  </fieldset>
</form>



<!-- Micro e macro nutrientes -->

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Legenda: 
      <p><span class="badge badge-warning">Abaixo do recomendado</span>
      <span class="badge badge-danger">Acima do recomendado</span>
      <span class="badge badge-success">Recomendado</span></p>
      <div class="row">
        <div class="col-lg-6">
          <table class="table table-bordered table-responsive-lg">
            <thead>
              <tr>
                <th>Micro</th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Energia</th>
                <td>{{object.energy|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Carboidratos</th>
                <td>
                  {{object.carb|floatformat:"2"}}
                  {% if consultation.nutrients == "DRI2002" %}
                    <span class="badge {{badge_carb}}">{{adequation_carb|floatformat:"2"}}%</span>
                  {% endif %}
                </td>
              </tr>            
              <tr>
                <th>G. Total</th>
                <td>
                  {{object.total_fat|floatformat:"2"}} 
                    <span class="badge {{badge_fat}}">{{adequation_fat|floatformat:"2"}}%</span>
                </td>
              </tr>
              <tr>
              <tr>
                <th>Proteina</th>
                <td>
                  {{object.protein|floatformat:"2"}}
                  {% if consultation.nutrients == "DRI2002" %}
                    <span class="badge {{badge_protein}}">{{adequation_protein|floatformat:"2"}}%</span>
                  {% endif%}
                </td>
              </tr>
                <th>G. Poli</th>
                <td>{{object.poly_fat|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>G. Mono</th>
                <td>{{object.mono_fat|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>G. Sat.</th>
                <td>{{object.sat_fat|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Fib. Total</th>
                <td>{{object.total_fibers|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Fib. Sol.</th>
                <td>{{object.sol_fibers|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Fib. Insol.</th>
                <td>{{object.insol_fibers|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Colesterol</th>
                <td>{{object.cholesterol|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Retinol (A)</th>
                <td>{{object.retinol|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Ac. Ascórbico (C)</th>
                <td>{{object.ac_ascorbic|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Tiamina (B1)</th>
                <td>{{object.tiamine|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Riboflavina (B2)</th>
                <td>{{object.riboflavin|floatformat:"2"}}</td>
              </tr>          
              <tr>
                <th>Piridoxina (B6)</th>
                <td>{{object.pyridoxine|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Cobalamina</th>
                <td>{{object.cobalamin|floatformat:"2"}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-6">
          <table class="table table-bordered table-responsive-lg">
            <thead>
              <tr>
                <th>Micro</th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody> 
              <tr>
                <th>Vitamina D</th>
                <td>{{object.dvitamin|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Niacina (B3)</th>
                <td>{{object.niacin|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Ác. Fólico</th>
                <td>{{object.ac_folic|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Ác. Pantotênico (B5)</th>
                <td>{{object.ac_pant|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Tocoferol (E)</th>
                <td>{{object.tocopherol|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Iodo</th>
                <td>{{object.iodine|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Sódio</th>
                <td>{{object.sodium|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Cálcio</th>
                <td>{{object.calcium|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Magnésio</th>
                <td>{{object.magnesium|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Zinco</th>
                <td>{{object.zinc|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Manganês</th>
                <td>{{object.manganese|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Potássio</th>
                <td>{{object.potassium|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Fósforo</th>
                <td>{{object.phosphor|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Ferro</th>
                <td>{{object.iron|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Cobre</th>
                <td>{{object.copper|floatformat:"2"}}</td>
              </tr>
              <tr>
                <th>Selênio</th>
                <td>{{object.selenium|floatformat:"2"}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
</div>


{% endblock %}

{% block scripts %}
{{ block.super }}

{{ form.media }}

<script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
<script type="text/javascript">
    function msg(tag, type, content, flagContent=1){
      var result = '<div class="alert alert-'+ type +' alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><center><strong>ATENÇAO!</strong> '+ content +'.</div></center>';
      if(flagContent == 1)
        $( tag ).append(result);
      else if(flagContent == 2)
        $( tag ).prepend(result);
      else
        $( tag ).html(result);
    }
    $('.form_save').on('submit',function(e) {
      e.preventDefault();
      $(e.target).ajaxSubmit({
        url  : "{% url 'patient:analysis_edit' object.id %}",
        type : 'POST',
        dataType: 'json',
        error: function(responseText) {
          msg("#message", "danger", "Erro ao adicionar o alimento. Fale com um Administrador.");
        },
        success: function(responseText){
          var url = "{% url 'patient:meal_delete' 999 %}'".replace(999, responseText.food_id);
          if(responseText.msg == 1){
            msg("#message", "success", "Alimento adicionado com sucesso!");
            var msg2 =`<li class="list-group-item"> ${responseText.food}<a class="btn btn-danger pull-right" href="`+ url +`"><i class="fa fa-trash"></i></a>
                <a href="#modal-id-{{ meal.id }}" class="btn btn-outline-primary pull-right" title="Detalhar" data-toggle="modal">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a></li>`;

          }
          else if(responseText.msg == 10){
          }
          else{
          msg("#message", "danger", "Erro ao adicionar o comentario.");
          }
          if($('#commentEmpty').length-1 == 0){
            $('#commentEmpty').remove();
          }

          $('.cafe').append(msg2);
          alert("OK!");
        }
      });
    });
  $("#id_original_food").change(function () {
    var url = $("#form-analysis").attr("data-measure-url");  // get the url of the `load_cities` view
    var foodId = $(this).val();  // get the selected country ID from the HTML input
    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'food': foodId       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_measure_unity").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });

  });
  $("#id_food_substitute").change(function () {
    var url = $("#form-analysis").attr("data-measure-url");  // get the url of the `load_cities` view
    var foodId = $(this).val();  // get the selected country ID from the HTML input
    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'food': foodId       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_unity_substitute").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });

  });
  $(document).ready(function(){
    $("#id_date").attr("readonly", "true");
    $("#id_date").datepicker({
      format: "dd/mm/yyyy",
      todayBtn: "linked",
      language: "pt-BR",
      autoclose: true,
      todayHighlight: true
    });

    $("#id_mbr").attr("readonly", "true");
  //$("#id_resultmbr").text('MBR: {{consultation.energycalc.mbr}}');
});


</script>

{% endblock %}
