{% extends 'base.html' %}

{% block body %}
<style type="text/css" media="print">
@page { 
  size: portrait;
  size: auto;   /* auto is the initial value */ 

  /* this affects the margin in the printer settings */ 
  margin: 25mm 25mm 25mm 25mm;  

}
</style>
<div class="container">
  <nav class="navbar navbar-light bg-light">
    <div class="navbar-header">
      <a class="navbar-brand text-center" href="#">Detalhes do Cardápio</a>
    </div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="btn btn-outline-secondary float-right" href="javascript:window.history.go(-1)">
          Voltar
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-info" title="Clique aqui para imprimir" onclick="window.print();">
          <i class="fa fa-print"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="header-print">
        <center>
          Sistema de Apoio ao Nutricionista - SysNut <br>
          Cardápio <br>
          Nutricionista: {{object.consultation.patient.user.first_name}} {{object.consultation.patient.user.last_name}}
        </center>
      </div>
    </div>
  </div>
</div>
<div class="print-page">
  <div class="container cardapio-print">
    <div class="row">
      <div class="col-4">
        <b>Refeição</b>
      </div>
      <div class="col-4">
        <b>Quantidade</b>
      </div>
      <div class="col-4">
        <b>Medida Caseira</b>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <span class=""><b>Café da manhã</b></span>
      </div>
    </div>
    <div class="row">
      {% for meal in object.meal_analysis.all %}

      {% if meal.meal == "CAFÉ DA MANHÃ" %}
      <div class="col-4">
        {{meal.original_food.description}}
      </div>

      <div class="col-4">
        {{meal.weight}}
      </div>

      <div class="col-4">
        {{meal.home_measure}}
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-12">
        <span class=""><b>Lanche</b></span>
      </div>
    </div>
    <div class="row">
      {% for meal in object.meal_analysis.all %}
      {% if meal.meal == "LANCHE I" %}
      <div class="col-4">
        {{meal.original_food.description}}
      </div>
      <div class="col-4">
        {{meal.weight}}
      </div>
      <div class="col-4">
        {{meal.home_measure}}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-12">
        <span class=""><b>Almoço</b></span>
      </div>
    </div>
    <div class="row">
      {% for meal in object.meal_analysis.all %}
      {% if meal.meal == "ALMOÇO" %}
      <div class="col-4">
        {{meal.original_food.description}}
      </div>
      <div class="col-4">
        {{meal.weight}}
      </div>
      <div class="col-4">
        {{meal.home_measure}}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-12">
        <span class=""><b>Lanche</b></span>
      </div>
    </div>
    <div class="row">
      {% for meal in object.meal_analysis.all %}
      {% if meal.meal == "LANCHE II" %}
      <div class="col-4">
        {{meal.original_food.description}}
      </div>
      <div class="col-4">
        {{meal.weight}}
      </div>
      <div class="col-4">
        {{meal.home_measure}}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-12">
        <span class=""><b>Jantar</b></span>
      </div>
    </div>
    <div class="row">
      {% for meal in object.meal_analysis.all %}
      {% if meal.meal == "JANTAR" %}
      <div class="col-4">
        {{meal.original_food.description}}
      </div>
      <div class="col-4">
        {{meal.weight}}
      </div>
      <div class="col-4">
        {{meal.home_measure}}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-12">
        <span class=""><b>Ceia</b></span>
      </div>
    </div>
    <div class="row">
      {% for meal in object.meal_analysis.all %}
      {% if meal.meal == "CEIA" %}
      <div class="col-4">
        {{meal.original_food.description}}
      </div>
      <div class="col-4">
        {{meal.weight}}
      </div>
      <div class="col-4">
        {{meal.home_measure}}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      <span class="col-6 text-uppercase"><b>Total</b></span>
      <span class="col-6 text-uppercase"><b>{{object.meal_analysis.count}} alimentos cadastrados.</b></span>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <span class="col-6 text-uppercase"><b>Orientação</b></span>
      <span class="col-6 text-uppercase"><b>Mensagem</b></span>
    </div>
    {% for guidance in object.guidance.all %}
    <div class="row">
      <span class="col-6">{{guidance.description}}</span>
      <span class="col-6">{{guidance.message}}</span>
    </div>
    {% endfor %}
  </div> 
</div>
{% endblock %}
