{% extends 'base.html' %}

{% block body %}
<style type="text/css" media="print">
    @page { 
        size: portrait;

    }
</style>
<div class="container">
  <nav class="navbar navbar-light bg-light">
    <div class="navbar-header">
      <a class="navbar-brand text-center" href="#">Detalhes do Cardápio</a>
    </div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="btn btn-outline-secondary float-right" href="javascript:window.history.go(-1)">
          Voltar
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-info" title="Clique aqui para imprimir" onclick="window.print();">
          <i class="fa fa-print"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="header-print">
        <p>Cardápio</p>
        <p>Descrição: {{object.description}}</p>
        <p>Nutricionista: {{object.consultation.patient.user.first_name}}</p>
      </div>
    </div>
  </div>
</div>
<center>
<div class="container">
      <div class="row">
        <div class="col-md-4">
          Refeição
        </div>
        <div class="col-md-4">
          Quantidade
        </div>
        <div class="col-md-4">
          Medida Caseira
        </div>
        
        <div class="row">
          <div class="col-md-12">
            Café da manhã
          </div>
        </div>
        <div class="row">
        {% for meal in object.meal_analysis.all %}
        
        {% if meal.meal == "CAFÉ DA MANHÃ" %}
        <div class="col-md-4">
        {{meal.original_food.description}}
        </div>

        <div class="col-md-4">
          {{meal.weight}}
        </div>

        <div class="col-md-4">
        {{meal.home_measure}}
        {% endif %}
        </div>
        {% endfor %}
        </div>
        <div class="row">
          <div class="col-md-12">
            Lanche
          </div>
        </div>
        <div class="row">
        {% for meal in object.meal_analysis.all %}
          {% if meal.meal == "LANCHE I" %}
        <div class="col-md-4">
        {{meal.original_food.description}}
        </div>
        <div class="col-md-4">
          {{meal.weight}}
        </div>
        <div class="col-md-4">
        {{meal.home_measure}}
        {% endif %}
        </div>
        {% endfor %}
        </div>
        <div class="row">
          <div class="col-md-12">
            Almoço
          </div>
        </div>
        <div class="row">
        {% for meal in object.meal_analysis.all %}
          {% if meal.meal == "ALMOÇO" %}
        <div class="col-md-4">
        {{meal.original_food.description}}
        </div>
        <div class="col-md-4">
          {{meal.weight}}
        </div>
        <div class="col-md-4">
        {{meal.home_measure}}
        {% endif %}
        </div>
        {% endfor %}
        </div>
        <div class="row">
          <div class="col-md-12">
            Lanche
          </div>
        </div>
        {% for meal in object.meal_analysis.all %}
        <div class="row">
          {% if meal.meal == "LANCHE II" %}
        <div class="col-md-4">
        {{meal.original_food.description}}
        </div>
        <div class="col-md-4">
          {{meal.weight}}
        </div>
        <div class="col-md-4">
        {{meal.home_measure}}
        {% endif %}
        </div>
        {% endfor %}
        </div>
        <div class="row">
          <div class="col-md-12">
            Jantar
          </div>
        </div>
        <div class="row">
        {% for meal in object.meal_analysis.all %}
        {% if meal.meal == "JANTAR" %}
        <div class="col-md-4">
        {{meal.original_food.description}}
        </div>
        <div class="col-md-4">
          {{meal.weight}}
        </div>
        <div class="col-md-4">
        {{meal.home_measure}}
        {% endif %}
        </div>
        {% endfor %}
        </div>
        <div class="row">
          <div class="col-md-12">
            Ceia
          </div>
        </div>
        <div class="row">
        {% for meal in object.meal_analysis.all %}
          {% if meal.meal == "CEIA" %}
        <div class="col-md-4">
        {{meal.original_food.description}}
        </div>
        <div class="col-md-4">
          {{meal.weight}}
        </div>
        <div class="col-md-4">
        {{meal.home_measure}}
        {% endif %}
        </div>
        {% endfor %}
        </div>
        <div class="row">
          <span class="col-md-6 text-uppercase"><b>Total</b></span>
          <span class="col-md-6 text-uppercase"><b>{{object.meal_analysis.count}} alimentos cadastrados.</b></span>
        </div>
</div>
</center>
{% endblock %}
