/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  line-height: 20px; /* Vertically center the text there */
  background-color: #49274a;
  background-repeat: repeat;
}

.img-circle{
  width: 20%;
  border-radius: 50%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.bg-pink{
  padding: 0 10px;
  background-color: #49274a;
}


.navbar-brand{
  padding: 15px 0px;
  height: 100%;
  font-weight: bold;
}

table .food th{
    font-size: 5px;
}


/*------------------------------------*\
  Preloader
\*------------------------------------*/

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    z-index: 99999;
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  -webkit-animation: preload-rotate 10s linear infinite;
          animation: preload-rotate 10s linear infinite;
}
.preloader span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #004;
  position: absolute;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.preloader span:nth-child(1) {
  top: 0;
  left: 0;
  -webkit-animation: 1s preload-scale ease-in-out infinite;
          animation: 1s preload-scale ease-in-out infinite;
}
.preloader span:nth-child(2) {
  top: 0;
  right: 0;
  -webkit-animation: 1s preload-scale 0.06s ease-in-out infinite;
          animation: 1s preload-scale 0.06s ease-in-out infinite;
}
.preloader span:nth-child(3) {
  bottom: 0;
  -webkit-animation: 1s preload-scale 0.11s ease-in-out infinite;
          animation: 1s preload-scale 0.11s ease-in-out infinite;
}
.preloader span:nth-child(4) {
  bottom: 0;
  right: 0;
  -webkit-animation: 1s preload-scale 0.17s ease-in-out infinite;
          animation: 1s preload-scale 0.17s ease-in-out infinite;
}