{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% endblock %}
{% block sidebar %}
<div class="wrapper">
	<nav id="sidebar">
		<ul class="list-unstyled components subnavilist">
		    <li><a href="{% url 'messages_inbox' %} "><i class="fa fa-envelope"></i> {% trans "Inbox" %}</a></li>
		    <li><a href="{% url 'messages_outbox' %} "><i class="fa fa-paper-plane"></i> {% trans "Sent Messages" %}</a></li>
		    <li><a href="{% url 'messages_compose' %} "><i class="fa fa-pencil-square"></i> {% trans "New Message" %}</a></li>
		    <li><a href="{% url 'messages_trash' %} "><i class="fa fa-trash"></i> {% trans "Trash" %}</a></li>
		</ul>
	</nav>

</div>
{% endblock %}
