{% extends "django_messages/base.html" %}
{% load widget_tweaks %}
{% load i18n %}


{% block styles %}
{{block.super}}
<style>
textarea {
  margin:0px 0px;
  padding:5px;
  min-height:16px;
  line-height:16px;
  width:96%;
  display:block;
  margin:0px auto;    
  resize: none;
}
</style>
{% endblock %}


{% block content %}
<h1 class="text-center">{% trans "Compose Message"%}</h1>
			<form action="." class="form-group" method="post" enctype="multipart/form-data">{% csrf_token %}
				<fieldset>
					{% for field in form %}
					{% if field.errors %}
					<div class="form-group error" >
						<label class="control-label" >{{ field.label }}</label>
						{{ field|add_class:"form-control input-md" }}
						{% for error in field.errors%}
						<span class="help-inline error">{{ error}}</span>
						{% endfor%}
					</div>
					{%else%}
					<div class="form-group">
						<label class="control-label" >{{ field.label }}</label>
						{% if field.label == "Data de Publicação" %}
							<div class="input-group date datepicker">
							{{ field|add_class:"form-control input-md" }}
		                    <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                    </div>
						{% else %}
							{{ field|add_class:"form-control input-md" }}
						{% endif %}
					</div>
					{%endif%}
					{% endfor %}
					<div class="form-group">
						<button type="submit" value="Salvar" class="btn btn-primary">
							<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
							Salvar
						</button>
					</div>
				</fieldset>
			</form>

{% endblock %}

