/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  line-height: 20px; /* Vertically center the text there */
  background-color: #49274a;
  background-repeat: repeat;
  border-top: 3px solid rgba(255,255,255,0.4)
}

.links-footer{
  float: right;

}

.color-div{
  margin-top: 10px;
  padding: 10px;
  margin-right: 10px;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(249,249,249,1));
  border: 1px solid #ddd;
  border-radius: 5px;
}

.link-footer{
  padding: 10px 10px;
  color: white;
}
.link-footer:first-child{
  border-right: 2px solid rgba(255,255,255, 0.3);
}

.link-footer:hover{
  text-decoration: none;
  color: rgba(255,255,255, 0.7);
}

.img-circle{
  width: 20%;
  border-radius: 50%;
}

.banner{
  border-bottom: 1px solid #ddd;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%);
  width: 100%;
}

.sobre{
  margin-bottom: 45px;
}

.titulo{
  display: block;
  height: 47px;
  margin: 10px 0px 10px 0px;
  background-image: url('../img/title-line.png');
}
.text-banner{
  color: #49274a;
  font-family: 'Roboto Slab';
  font-size: 26px;
  line-height: 35px;
}

.titulo h3{
  display: inline;
  height: 47px;
  padding: 0px 10px 0px 10px;
  font-family: 'Roboto Slab';
  font-weight: 400;
  line-height: 47px;
  background: #fff;
}

.list-itens .post {
  display: block;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.list-itens .post:last-child {
  padding-bottom: 0px;
  border: none;
}

.descricao{
  font-size: 14px;
}


.sysnut{
  color: #49274a;
  font-weight: bold;
}
.header-print{
  display: none;
}

@page  
{ 
  size: auto; 
  margin: 1mm 5mm 5mm 5mm;  
}

@media print {
  .print-page{
    padding-top: 0.5cm;
    padding-bottom: 1cm;
  }
  .cardapio-print{
    border: 2px solid #ddd;
  }
  .cardapio-print .row{
    border-bottom: 2px solid #ddd;
  }

  .header-print{
    display: inline;
  }
  .footer-print{
    display: inline;
    position: absolute;
    bottom: 0;
    right: 33%;
  }
  .print-data tbody > tr > td{
    font-size: 8pt;
  }
  .print-data thead > tr > th{
    font-size: 8pt;
  }
  .img-teste{
    width: 55%;
    height: 55%;
  }
  .print-data tbody > tr > td{
    font-size: 7pt;
  }
  .print-data thead > tr > th{
    font-size: 7pt;
  }

  tr, th,td{
    border: 2px solid #ddd;
    padding-bottom: 10px;
  }

  .navbar{
    display: none;
  }
  footer{
    display: none;
  }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  
  padding: 0 15px;
}

.bg-pink{
  padding: 5px 10px;
  background-color: #49274a;
  border-bottom: 3px solid rgba(255,255,255,0.4)
}



.navbar-brand{
  font-weight: bold;
  
}

.nav-item{
  padding-left: 5px;
}

table .food th{
    font-size: 5px;
}

.wrapper {
        display: flex;
}

#sidebar {

        min-width: 250px;
        max-width: 250px;
}

#sidebar > ul {
  background-color: rgba(0,0,0, 0.03);
  width: 90%;
  padding: 10px;
  border: 1px solid rgba(0,0,0, 0.3);
  border-radius: 5px;
}
#sidebar > ul > li{
  border-bottom: 1px solid rgba(0,0,0, 0.08);
  
  text-decoration: none;
  padding: 4px;

}

#sidebar > ul > li a{
  text-decoration: none;

}

#sidebar > ul > li:hover{
  font-weight: bold;
  text-decoration: none;

}

/*------------------------------------*\
  Preloader
\*------------------------------------*/

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    z-index: 99999;
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  -webkit-animation: preload-rotate 10s linear infinite;
          animation: preload-rotate 10s linear infinite;
}
