/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  line-height: 20px; /* Vertically center the text there */
  background-color: #49274a;
  background-repeat: repeat;
}

.img-circle{
  width: 20%;
  border-radius: 50%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.bg-pink{
  padding: 0 10px;
  background-color: #49274a;
}


.navbar-brand{
  padding: 15px 0px;
  height: 100%;
  font-weight: bold;
}

table .food th{
    font-size: 5px;
}

.wrapper {
        display: flex;
}

#sidebar {

        min-width: 250px;
        max-width: 250px;
}

#sidebar > ul {
  background-color: rgba(0,0,0, 0.03);
  width: 90%;
  padding: 10px;
  border: 1px solid rgba(0,0,0, 0.3);
  border-radius: 5px;
}
#sidebar > ul > li{
  border-bottom: 1px solid rgba(0,0,0, 0.08);
  
  text-decoration: none;
  padding: 4px;

}

#sidebar > ul > li a{
  text-decoration: none;

}

#sidebar > ul > li:hover{
  font-weight: bold;
  text-decoration: none;

}

/*------------------------------------*\
  Preloader
\*------------------------------------*/

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    z-index: 99999;
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  -webkit-animation: preload-rotate 10s linear infinite;
          animation: preload-rotate 10s linear infinite;
}
