{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
	<nav class="navbar navbar-light bg-light">
		<div class="col-md-4">
			<form class="form-horizontal" action="." method="get">
				<div class="input-group">
					<input id="search_box" name="search_box" type="text" placeholder="Informe o nome do Paciente" class="form-control" autofocus="true" value="{{ request.GET.search_box }}">
					<button type="submit" class="form-group input-group-addon btn btn-secondary" title="Clique para realizar a pesquisar">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</small>
			</div>
		</form>
	</div>
	<ul class="nav justify-content-end">
		<li class="nav-item">
			<div class="btn-group" role="group">
				<a class="btn btn-outline-primary float-right" href="{% url 'patient:pdf_patient' %}" title="Gerar PDF">
					<i class="far fa-file-pdf" aria-hidden="true"></i>
				</a>
				<a class="btn btn-outline-primary float-right" href="{% url 'patient:excel_patient' %}" title="Gerar Planilha">
					<i class="far fa-file-excel" aria-hidden="true"></i>
				</a>
				<span class="btn btn-primary">
					Pacientes
				</a>
			</div>
		</li>
		<li class="nav-item">
			<div class="btn-group" role="group">
				<a class="btn btn-outline-danger float-right" href="{% url 'patient:pdf_consultation' %}" title="Gerar PDF">
					<i class="far fa-file-pdf" aria-hidden="true"></i>
				</a>
				<a class="btn btn-outline-danger float-right" href="{% url 'patient:excel_consultation' %}" title="Gerar Planilha">
					<i class="far fa-file-excel" aria-hidden="true"></i>
				</a>
				<span class="btn btn-danger">
					Consultas
				</a>
			</div>
		</li>
		<li class="nav-item">
			<a class="btn btn-outline-secondary float-right" href="{% url 'patient:create' %}">
				<i class="fa fa-plus" aria-hidden="true"></i>
				Novo
			</a>
		</li>
	</ul>
</nav>
</div>

<div class="container-fluid">
	<div class="row">
		{% if object_list.count > 0 %}
		<table class="table table-hover">
			<thead>
				<tr>
					<th width="40%">Nome</th>
					<th width="10%">Idade</th>
					<th width="5%">Sexo</th>
					<th class="d-none d-md-block text-center" width="100%">Ações</th>
					<th class="d-md-none text-center" width="100%">Ações</th>
				</tr>
			</thead>
			<tbody>
				{% for patient in object_list %}
				
				<tr>
					<td width="40%">{{ patient.first_name|slice:":100" }} {{ patient.last_name|slice:":100" }}</td>
					<td width="10%">{{ patient.age}}</td>
					<td width="5%">{{ patient.sex }}</td>
					<td class="d-none d-md-block text-center" width="100%">
						<a href="{% url 'patient:consultation_list' patient.id %}" class="btn btn-outline-dark" title="Consultas">
							Consultas
						</a>
						<a href="{% url 'patient:report' patient.id %}" class="btn btn-outline-success" title="Relatório">
							Relatório
						</a>
						<a href="{% url 'patient:duplicate' patient.id %}" class="btn btn-outline-info" title="Duplicar">
							Duplicar
						</a>
						<a href="{% url 'patient:details' patient.id %}" class="btn btn-outline-primary" title="Exibir">
							Exibir
						</a>

						<a href="{% url 'patient:edit' patient.id %}" class="btn btn-outline-warning" title="Editar">
							Editar
						</a>

						<a href="#modal-id-{{ patient.id }}" class="btn btn-outline-danger" title="Remover" data-toggle="modal">
							Excluir
						</a>
					</td>
					<td class="d-md-none" width="100%">
						<div class="dropdown">
							<a href="#" class="nav-link dropdown-toggle btn btn-info" data-toggle="dropdown">
								Ações
							</a>
							<div class="dropdown-menu">
								<a href="{% url 'patient:consultation_list' patient.id %}" class="dropdown-item" title="Consultas">
									Consultas
								</a>
								<a href="{% url 'patient:report' patient.id %}" class="dropdown-item" title="Relatório">
									Relatório
								</a>
								<a href="{% url 'patient:duplicate' patient.id %}" class="dropdown-item" title="Duplicar">
									Duplicar
								</a>
								<a href="{% url 'patient:details' patient.id %}" class="dropdown-item" title="Exibir">
									Exibir
								</a>

								<a href="{% url 'patient:edit' patient.id %}" class="dropdown-item" title="Editar">
									Editar
								</a>

								<a href="#modal-id-{{ patient.id }}" class="dropdown-item" title="Remover" data-toggle="modal">
									Excluir
								</a>
							</div>
						</div>
					</td>
				</tr>

				<!-- MODAL -->
				<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
					<div class="modal fade" id="modal-id-{{ patient.id }}">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title">Alerta!</h4>
								</div>
								<div class="modal-body">
									<p>Deseja realmente remover esse usuário: <strong>{{ patient.first_name }}</strong>?</p>
								</div>
								<div class="modal-footer">
									<form action="{% url 'patient:delete' patient.pk %}" method="post">{%csrf_token%}
										<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
										<button type="submit" class='btn btn-danger' title='Deletar'>
											Delete
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /MODAL -->
				
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p><center>Não há pacientes registrados.</center></p>
		{% endif %}
	</div>
	<center>
		<!-- Paginação -->
		{% if page_obj.has_other_pages %}
		<nav>
			<ul class="pagination">
				{# Previous page link #}
				{% if page_obj.has_previous %}
				<li>
					<a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search_box %}&search_box={{ request.GET.search_box }}{% endif %}">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% else %}
				<li class="disabled">
					<a href="#">&laquo;</a>
				</li>
				{% endif %}

				{# First page #}
				{% if show_first %}
				<li>
					<a href="?page=1">Primeiro</a>
				</li>
				{% endif %}

				{# List of pages (with current "active") #}
				{% for page in page_numbers %}
				{% ifequal page page_obj.number %}
				<li class="active">
					<a href="#">{{ page }}</a>
				</li>
				{% else %}
				<li>
					<a href="?page={{ page }}{% if request.GET.search_box %}&search_box={{ request.GET.search_box }}{% endif %}">{{ page }}</a>
				</li>
				{% endifequal %}
				{% endfor %}

				{# Last page #}
				{% if show_last %}
				<li>
					<a href="?page=last">{{ page_obj.pages }}Último</a>
				</li>
				{% endif %}

				{# Next page link #}
				{% if page_obj.has_next %}
				<li>
					<a href="?page={{ page_obj.next_page_number }}{% if request.GET.search_box %}&search_box={{ request.GET.search_box }}{% endif %}">&raquo;</a>
				</li>
				{% else %}
				<li class="disabled">
					<a href="#">&raquo;</a>
				</li>
				{% endif %}
			</ul>
		</nav>
		{% endif %}
		<!-- Fim da Paginação -->
	</center>

</div>

{% endblock %}
