{% extends 'base.html' %}

{% block body %}

<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <div class="navbar-header">
      <a class="navbar-brand text-center" href="#">Relatório</a>
    </div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="btn btn-outline-secondary float-right" href="javascript:window.history.go(-1)">
          Voltar
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-info float-right" title="Clique aqui para imprimir" href="{% url 'patient:print' object.id %}">
          <i class="fa fa-print"></i> Imprimir
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="control-label">Paciente</label>
            <input class="form-control input-md" type="text" id="disabledTextInput" value="{{object.first_name}} {{object.last_name}}" disabled>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="control-label">Nutricionista</label>
            <input class="form-control input-md" type="text" id="disabledTextInput" value="{% if object.user.first_name %}{{object.user.first_name}}{% else %}{{object.user.username}}{% endif %} {{object.user.last_name}}" disabled>
          </div>
        </div>
      </div>


      <ul class="nav nav-tabs" role="tablist">
        {% for cons in consultation %}
        {% if forloop.first %}
        <li class="nav-item"><a class="nav-link active" href="#tab-{{cons.id}}" aria-controls="tab-{{cons.id}}" role="tab" data-toggle="tab">{{cons.date|date:"d/m/Y"}}</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="#tab-{{cons.id}}" aria-controls="tab-{{cons.id}}" role="tab" data-toggle="tab">{{cons.date|date:"d/m/Y"}}</a></li>
        {% endif %}
        {% endfor %}
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        {% for cons in consultation %}
        {% if forloop.first %}
        <div role="tabpanel" class="tab-pane fade show active" id="tab-{{cons.id}}">
          <div class="card">
            <div class="card-body">
              <p class="card-text">
                <div class="row">
                  <div class="col-lg-6">
                    <table class="table table-hover table-responsive-lg">
                      <thead>
                        <tr>
                          <th>Dobras Cutâneas</th>
                          <th>Valor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Dobra Tricipital</td>
                          <td>{{cons.skinfold.tricipital_fold}}</td>
                        </tr>
                        <tr>
                          <td>Dobra Subescapular</td>
                          <td>{{cons.skinfold.subscapular_fold}}</td>
                        </tr>
                        <tr>
                          <td>Dobra Torácica</td>
                          <td>{{cons.skinfold.chest_fold}}</td>
                        </tr>
                        <tr>
                          <td>Dobra Bicipital</td>
                          <td>{{cons.skinfold.bicipital_fold}}</td>
                        </tr>
                        <tr>
                          <td>Dobra Axilar Média</td>
                          <td>{{cons.skinfold.mean_axillary_fold}}</td>
                        </tr>
                        <tr>
                          <td>Dobra Suprailíaca</td>
                          <td>{{cons.skinfold.suprailiathic_fold}}</td>
                        </tr>
                        <tr>
                          <td>Dobra Abdominal</td>
                          <td>{{cons.skinfold.abdominal_fold}}</td>
                        </tr>
                        <tr>
                          <td>Dobra da Coxa</td>
                          <td>{{cons.skinfold.thigh_fold}}</td>
                        </tr>
                        <tr>
                          <td>Dobra da Panturrilha</td>
                          <td>{{cons.skinfold.calf_fold}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table table-hover table-responsive-lg">
                      <thead>
                        <tr>
                          <th>Bioimpedância</th>
                          <th>Valor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Percentual de Gordura</td>
                          <td>{{cons.bioimpedance.fat_percentage}}</td>
                        </tr>
                        <tr>
                          <td>Peso ósseo</td>
                          <td>{{cons.bioimpedance.bone_weight}}</td>
                        </tr>
                        <tr>
                          <td>Idade metabólica</td>
                          <td>{{cons.bioimpedance.metabolic_age}}</td>
                        </tr>
                        <tr>
                          <td>Massa magra</td>
                          <td>{{cons.bioimpedance.lean_mass}}</td>
                        </tr>
                        <tr>
                          <td>Massa livre de gordura</td>
                          <td>{{cons.bioimpedance.fat_free_mass}}</td>
                        </tr>
                        <tr>
                          <td>Água corporal total</td>
                          <td>{{cons.bioimpedance.total_body_water}}</td>
                        </tr>
                        <tr>
                          <td>Gordura Visceral</td>
                          <td>{{cons.bioimpedance.visceral_fat}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <h4>Cálculos Energéticos</h4>
                    {% if cons.energycalc.calc_title %}
                    <p>{{cons.energycalc.calc_title}}</p>
                    {% endif %}
                    <div class="row">
                      <div class="col-lg-6">
                        <p>Peso: {{cons.weight}} kg</p>
                        <p>Altura: {{cons.height}} metros</p>
                        <p>Altura do joelho: {{cons.energycalc.knee_height}}</p>
                        <p>Massa livre: {{cons.bioimpedance.lean_mass}}</p>
                        <p>Fórmula: {{cons.energycalc.formula}}</p>
                        
                      </div>
                      <div class="col-lg-6">
                        <p>
                          IMC: {{cons.imc.val|floatformat:"2"}}
                          <span class="badge badge-{{cons.imc.tag}}">{{cons.imc.result}}</span>
                          <p>Peso ideal: {{cons.imc.ideal|floatformat:"2"}} kg</p>
                          <p>Peso ajustado: {{cons.imc.adjust|floatformat:"2"}} kg</p>
                        </p> 
                        <p>Fator de Atividade: {{cons.energycalc.activity_factor}}</p>
                        <p>Taxa Metabólica Basal: {{cons.energycalc.mbr}}</p>
                        <p>Gasto Energético Total: {{cons.energycalc.tee}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <table class="table table-hover table-responsive-lg">
                      <thead>
                        <tr>
                          <th>Circ. Corporal</th>
                          <th>Valor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Circunferência do Tórax</td>
                          <td>{{cons.bodycirc.thorax_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência do Ombro</td>
                          <td>{{cons.bodycirc.shoulder_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência do Braço Relaxado</td>
                          <td>{{cons.bodycirc.relaxed_arm_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência do Braço Contraído</td>
                          <td>{{cons.bodycirc.contracted_arm_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência do Antebraço</td>
                          <td>{{cons.bodycirc.forearm_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência da Cintura</td>
                          <td>{{cons.bodycirc.waist_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência do Abdomen</td>
                          <td>{{cons.bodycirc.abdomen_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência do Quadril</td>
                          <td>{{cons.bodycirc.hip_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência da Coxa Proximal</td>
                          <td>{{cons.bodycirc.proximal_thigh_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência da Coxa Medial</td>
                          <td>{{cons.bodycirc.medial_thigh_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência da Coxa Distal</td>
                          <td>{{cons.bodycirc.distal_thigh_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência da Panturrilha</td>
                          <td>{{cons.bodycirc.calf_circ}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table table-hover table-responsive-lg">
                      <thead>
                        <tr>
                          <th>Diâmetro Ósseo</th>
                          <th>Valor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Diâmetro do Úmero</td>
                          <td>{{cons.bonediameter.humeros_diameter}}</td>
                        </tr>
                        <tr>
                          <td>Diâmetro do Pulso</td>
                          <td>{{cons.bonediameter.wrist_diameter}}</td>
                        </tr>
                        <tr>
                          <td>Diâmetro do Fêmur</td>
                          <td>{{cons.bonediameter.femoral_diameter}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
                <hr>
                <label class="control-label">Cardápios</label>
                <br>
                  {% for analysis in cons.analysis_consultation.all %}
                    {% if analysis.published %}
                      <a class="btn btn-success" href="{% url 'patient:analysis_details' analysis.id %}"> <i class="fa fa-utensils fa-fw"></i>{{analysis.description}}</a>
                    {% endif %}
                  {% endfor %}
              </div>
            </div>
          </div>
          {% else %}
         <div role="tabpanel" class="tab-pane fade" id="tab-{{cons.id}}">
          <div class="card">
            <div class="card-body">
              <p class="card-text">
                <div class="row">
                  <div class="col-lg-6">
                    <table class="table table-hover table-responsive-lg">
                      <thead>
                        <tr>
                          <th>Dobras Cutâneas</th>
                          <th>Valor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Dobra Tricipital</td>
                          <td>{{cons.skinfold.tricipital_fold}}</td>
                        </tr>
                        <tr>
                          <td>Dobra Subescapular</td>
                          <td>{{cons.skinfold.subscapular_fold}}</td>
                        </tr>
                        <tr>
                          <td>Dobra Torácica</td>
                          <td>{{cons.skinfold.chest_fold}}</td>
                        </tr>
                        <tr>
                          <td>Dobra Bicipital</td>
                          <td>{{cons.skinfold.bicipital_fold}}</td>
                        </tr>
                        <tr>
                          <td>Dobra Axilar Média</td>
                          <td>{{cons.skinfold.mean_axillary_fold}}</td>
                        </tr>
                        <tr>
                          <td>Dobra Suprailíaca</td>
                          <td>{{cons.skinfold.suprailiathic_fold}}</td>
                        </tr>
                        <tr>
                          <td>Dobra Abdominal</td>
                          <td>{{cons.skinfold.abdominal_fold}}</td>
                        </tr>
                        <tr>
                          <td>Dobra da Coxa</td>
                          <td>{{cons.skinfold.thigh_fold}}</td>
                        </tr>
                        <tr>
                          <td>Dobra da Panturrilha</td>
                          <td>{{cons.skinfold.calf_fold}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table table-hover table-responsive-lg">
                      <thead>
                        <tr>
                          <th>Bioimpedância</th>
                          <th>Valor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Percentual de Gordura</td>
                          <td>{{cons.bioimpedance.fat_percentage}}</td>
                        </tr>
                        <tr>
                          <td>Peso ósseo</td>
                          <td>{{cons.bioimpedance.bone_weight}}</td>
                        </tr>
                        <tr>
                          <td>Idade metabólica</td>
                          <td>{{cons.bioimpedance.metabolic_age}}</td>
                        </tr>
                        <tr>
                          <td>Massa magra</td>
                          <td>{{cons.bioimpedance.lean_mass}}</td>
                        </tr>
                        <tr>
                          <td>Massa livre de gordura</td>
                          <td>{{cons.bioimpedance.fat_free_mass}}</td>
                        </tr>
                        <tr>
                          <td>Água corporal total</td>
                          <td>{{cons.bioimpedance.total_body_water}}</td>
                        </tr>
                        <tr>
                          <td>Gordura Visceral</td>
                          <td>{{cons.bioimpedance.visceral_fat}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <h4>Cálculos Energéticos</h4>
                    {% if cons.energycalc.calc_title %}
                    <p>{{cons.energycalc.calc_title}}</p>
                    {% endif %}
                    <div class="row">
                      <div class="col-lg-6">
                        <p>Peso: {{cons.weight}} kg</p>
                        <p>Altura: {{cons.height}} metros</p>
                        <p>Altura do joelho: {{cons.energycalc.knee_height}}</p>
                        <p>Massa livre: {{cons.bioimpedance.lean_mass}}</p>
                        <p>Fórmula: {{cons.energycalc.formula}}</p>
                        
                      </div>
                      <div class="col-lg-6">
                        <p>
                          IMC: {{cons.imc.val|floatformat:"2"}}
                          <span class="badge badge-{{cons.imc.tag}}">{{cons.imc.result}}</span>
                          <p>Peso ideal: {{cons.imc.ideal|floatformat:"2"}} kg</p>
                        </p> 
                        <p>Fator de Atividade: {{cons.energycalc.activity_factor}}</p>
                        <p>Taxa Metabólica Basal: {{cons.energycalc.mbr}}</p>
                        <p>Gasto Energético Total: {{cons.energycalc.tee}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <table class="table table-hover table-responsive-lg">
                      <thead>
                        <tr>
                          <th>Circ. Corporal</th>
                          <th>Valor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Circunferência do Tórax</td>
                          <td>{{cons.bodycirc.thorax_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência do Ombro</td>
                          <td>{{cons.bodycirc.shoulder_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência do Braço Relaxado</td>
                          <td>{{cons.bodycirc.relaxed_arm_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência do Braço Contraído</td>
                          <td>{{cons.bodycirc.contracted_arm_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência do Antebraço</td>
                          <td>{{cons.bodycirc.forearm_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência da Cintura</td>
                          <td>{{cons.bodycirc.waist_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência do Abdomen</td>
                          <td>{{cons.bodycirc.abdomen_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência do Quadril</td>
                          <td>{{cons.bodycirc.hip_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência da Coxa Proximal</td>
                          <td>{{cons.bodycirc.proximal_thigh_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência da Coxa Medial</td>
                          <td>{{cons.bodycirc.medial_thigh_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência da Coxa Distal</td>
                          <td>{{cons.bodycirc.distal_thigh_circ}}</td>
                        </tr>
                        <tr>
                          <td>Circunferência da Panturrilha</td>
                          <td>{{cons.bodycirc.calf_circ}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table table-hover table-responsive-lg">
                      <thead>
                        <tr>
                          <th>Diâmetro Ósseo</th>
                          <th>Valor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Diâmetro do Úmero</td>
                          <td>{{cons.bonediameter.humeros_diameter}}</td>
                        </tr>
                        <tr>
                          <td>Diâmetro do Pulso</td>
                          <td>{{cons.bonediameter.wrist_diameter}}</td>
                        </tr>
                        <tr>
                          <td>Diâmetro do Fêmur</td>
                          <td>{{cons.bonediameter.femoral_diameter}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
                <hr>
                <label class="control-label">Cardápios</label>
                <br>
                  {% for analysis in cons.analysis_consultation.all %}
                    {% if analysis.published %}
                      <a class="btn btn-success" href="{% url 'patient:analysis_details' analysis.id %}"> <i class="fa fa-utensils fa-fw"></i>{{analysis.description}}</a>
                    {% endif %}
                  {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>

      </div>
    </div>
  </div>

  {% endblock %}
