{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block body %}
<nav class="navbar navbar-light bg-light nav-item">
  <div class="container-fluid justify-content-center align-items-center">
    <div class="navbar-header">
      <a class="navbar-brand text-center" href="#">Criar/Alterar dados de Consulta</a>
    </div>
    <ul class="navbar-nav navbar-right">
      <li class"nav-item"><a class="btn btn-outline-secondary" href="{% url 'patient:consultation_list' patient_id %}">Voltar</a></li>
    </ul>
  </div>
</nav>
<div class="mt-2"></div>
<div class="container">
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <i class="fa fa-info-circle fa-fw"></i>Veja o tutorial: <a href="https://www.youtube.com/watch?v=ZzOLC9Bepj0&list=PL1c1UZQarm9DRhJwxf94a4_lIqbTywIBp&index=1" class="alert-link">Vídeo de Cadastro de Consultas</a>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="container" style="max-width: 960px">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      {% if "duplicate" in request.path|cut:"/" %}{% url "patient:consultation_create" patient_id as URL %}{% endif %}
      <form id="form-consultation" action="{{URL}}" data-activity-url="{% url 'patient:formula_activity' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" href="#tab-dados" aria-controls="tab-dados" role="tab" data-toggle="tab">Dados</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-bodycirc" aria-controls="tab-bodycirc" role="tab" data-toggle="tab">Circ. Corp.</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-energycalc" aria-controls="tab-energycalc" role="tab" data-toggle="tab">Calc. Energ.</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-skinfold" aria-controls="tab-skinfold" role="tab" data-toggle="tab">Dobras Corp.</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-bioimpedance" aria-controls="tab-bioimpedance" role="tab" data-toggle="tab">Bioimpedância</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-bonediameter" aria-controls="tab-bonediameter" role="tab" data-toggle="tab">Diâmetro Ósseo</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-biochemical" aria-controls="tab-biochemical" role="tab" data-toggle="tab">Exame Bioquímico</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="tab-dados">
              <div class="form-group">
                <label class="control-label">Paciente</label>
                <input class="form-control input-md" type="text" id="disabledTextInput" value="{{patient.first_name}} {{patient.last_name}}" disabled>
              </div>
              {% for field in form %}
              {% if field.errors %}
              <div class="form-group error" >
                <label class="control-label" >{{ field.label }}</label>
                {{ field|add_class:"form-control input-md" }}
                {% for error in field.errors%}
                <small class="form-text text-muted"><i class="fa fa-exclamation-circle fa-fw" color="red"></i>{{ error}}</small>
                {% endfor%}
              </div>
              {%else%}
              <div class="form-group">
                <label class="control-label" >{{ field.label }}</label>
                {% if field.label == "Data da consulta" %}
                <div class="input-group date datepicker">
                  {{ field|add_class:"form-control input-md" }}
                  <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                {% else %}
                {{ field|add_class:"form-control input-md" }}
                {% endif %}
              </div>
              {%endif%}
              {% endfor %}
              <h4>Anexos</h4>
              {% for formset_error in exam_formset.non_form_errors %}
              <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{formset_error}}
              </div>
              {% endfor %}
              {% for dict in exam_formset.errors %}
              {% for formset_error in dict.values %}
              <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{formset_error}}
              </div>
              {% endfor %}
              {% endfor %}
              <div class="table-responsive">
                <table class="table table-striped" id="items_table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Arquivo</th>
                      <th>Descrição</th>
                      <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for form_item in exam_formset.forms %}

                    <tr id="{{ form_item.prefix }}-row">
                      {{form_item.id}}
                      <td>{% if form_item.instance.id %} {{form_item.instance.id}}{{form_item.DELETE}} {%endif%}</td>
                      <td>{% if form_item.path.errors %}{{form_item.path.errors}}{{form_item.path|add_class:"form-control-file has-error has-feedback"}}{%else%}{{form_item.path|add_class:"form-control-file"}}{%endif%}</td>
                      <td>{% if form_item.description.errors %}{{form_item.description.errors}}{{form_item.description|add_class:"form-control  has-error has-feedback"}}{%else%}{{form_item.description|add_class:"form-control"}}{%endif%}</td>
                      <td></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {{ exam_formset.management_form }}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab-bodycirc">
              <div class="mt-3"></div>
              <div class="row">
              <div class="col-md-6">
                <div class="alert alert-{{object.whp.tag}}">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <p><b>Relação cintura quadril (RCQ)</b>: {{object.whp.val|floatformat:"2"}}</p>
                  <b>Risco de desenvolvimento de doenças cardiovasculares segundo a RCQ</b>: {{object.whp.result}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="alert alert-{{object.whr.tag}}">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <p><b>Relação cintura estatura (RCE)</b>: {{object.whr.val|floatformat:"2"}}</p>
                  <b>Risco de desenvolvimento de doenças cardiovasculares segundo a RCE</b>: {{object.whr.result}}
                </div>
              </div>
              </div>
              <div class="form-row">
                {% for field in bodycirc_form %}
                {% if field.errors %}
                <div class="col-lg-6">
                  <div class="form-group error" >
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                    {% for error in field.errors%}
                    <small class="form-text text-muted"><i class="fa fa-exclamation-circle fa-fw" color="red"></i>{{ error}}</small>
                    {% endfor%}
                  </div>
                </div>
                {%else%}
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                  </div>
                </div>
                {%endif%}
                {% endfor %}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab-energycalc">
              <div class="form-row">
                {% for field in energycalc_form %}
                {% if field.errors %}
                <div class="col-lg-6">
                  <div class="form-group error" >
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                    {% for error in field.errors%}
                    <small class="form-text text-muted"><i class="fa fa-exclamation-circle fa-fw" color="red"></i>{{ error}}</small>
                    {% endfor%}
                  </div>
                </div>
                {%else%}
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                  </div>
                </div>
                {%endif%}
                {% endfor %}
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="control-label" >TMB</label>
                    <input type="text" name="mbr" value="{{consultation.energycalc.mbr|floatformat:2}}" id="id_mbr" required="" class="form-control input-md" maxlength="255">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="control-label" >GET</label>
                    <input type="text" name="tee" value="{{consultation.energycalc.tee|floatformat:2}}" id="id_tee" required="" class="form-control input-md" maxlength="255">
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab-skinfold">
              <div class="form-row">
                {% for field in skinfold_form %}
                {% if field.errors %}
                <div class="col-lg-6">
                  <div class="form-group error" >
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                    {% for error in field.errors%}
                    <small class="form-text text-muted"><i class="fa fa-exclamation-circle fa-fw" color="red"></i>{{ error}}</small>
                    {% endfor%}
                  </div>
                </div>
                {%else%}
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                  </div>
                </div>
                {%endif%}
                {% endfor %}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab-bioimpedance">
              <div class="form-row">
                {% for field in bioimpedance_form %}
                {% if field.errors %}
                <div class="col-lg-6">
                  <div class="form-group error" >
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                    {% for error in field.errors%}
                    <small class="form-text text-muted"><i class="fa fa-exclamation-circle fa-fw" color="red"></i>{{ error}}</small>
                    {% endfor%}
                  </div>
                </div>
                {%else%}
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                  </div>
                </div>
                {%endif%}
                {% endfor %}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab-bonediameter">
              <div class="form-row">
                {% for field in bonediameter_form %}
                {% if field.errors %}
                <div class="col-lg-6">
                  <div class="form-group error" >
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                    {% for error in field.errors%}
                    <small class="form-text text-muted"><i class="fa fa-exclamation-circle fa-fw" color="red"></i>{{ error}}</small>
                    {% endfor%}
                  </div>
                </div>
                {%else%}
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                  </div>
                </div>
                {%endif%}
                {% endfor %}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab-biochemical">
              
              <table class="table table-hover table-responsive-lg">
                <thead>
                  <tr>
                    <th>Descrição</th>
                    <th>Condição</th>
                    <th>Ação</th>
                  </tr>
                </thead>
              <tbody>
              {% for item in object.consultation_biochemical.all %}
                <tr>
                  <td>{{ item.exam.description }}</td>
                  <td>{{item.condiction}}</td>
                  <td width="5%"><a class="btn btn-danger " href="{% url 'patient:biochemical_delete' item.id %}"><i class="fa fa-trash"></i></a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <hr>
            <div class="form-row">
              {% for field in biochemical_form %}
              {% if field.errors %}
              <div class="col-lg-6">
                <div class="form-group error" >
                  <label class="control-label" >{{ field.label }}</label>
                  {{ field|add_class:"form-control input-md" }}
                  {% for error in field.errors%}
                  <small class="form-text text-muted"><i class="fa fa-exclamation-circle fa-fw" color="red"></i>{{ error}}</small>
                  {% endfor%}
                </div>
              </div>
              {%else%}
              <div class="col-lg-6">
                <div class="form-group">
                  {% if field.label == "Descrição" %}
                  <label class="control-label" style="margin-top: 35px;">{{ field.label }}</label>
                  {{ field|add_class:"form-control input-md" }}
                  {% else %}
                  <label class="control-label" >{{ field.label }}</label>
                  {{ field|add_class:"form-control input-md" }}
                  {% endif %}

                </div>
              </div>
              {%endif%}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" value="Salvar" class="btn btn-primary">
            <span class="fa fa-save" aria-hidden="true"></span>
            Salvar
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $("#id_formula").change(function () {
    var url = $("#form-consultation").attr("data-activity-url");  // get the url of the `load_cities` view
    var formulaId = $(this).val();  // get the selected country ID from the HTML input
    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'formula': formulaId       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_activity_factor").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });

  });
  $(document).ready(function(){
  //$("#id_date").attr("readonly", "true");
  $("#id_date").inputmask({"mask": "99/99/9999"}); //specifying options
  $("#id_date").datepicker({
    format: "dd/mm/yyyy",
    todayBtn: "linked",
    language: "pt-BR",
    autoclose: true,
    todayHighlight: true
  });
  $(function() {
    $('#items_table tbody tr').formset({
            // For inline formsets, be sure to set the prefix, as the default prefix
            // ('form') isn't correct.
            // Django appears to generate the prefix from the lowercase plural
            // name of the related model, with camel-case converted to underscores.
            prefix: '{{ exam_formset.prefix }}',
            addText: 'Novo',          // Text for the add link
            deleteText: 'Remover',
          });
  });
  $("#id_mbr").attr("readonly", "true");
  $("#id_tee").attr("readonly", "true");
  $('b[role="presentation"]').hide();

  
  //$("#id_resultmbr").text('MBR: {{consultation.energycalc.mbr}}');

});

</script>
{{ block.super }}
{{ form.media }}


{% endblock %}
