{% extends "base.html" %}
{% load widget_tweaks %}
{% block body %}
<nav class="navbar navbar-light bg-light nav-item">
  <div class="container-fluid justify-content-center align-items-center">
    <div class="navbar-header">
      <a class="navbar-brand text-center" href="#">Criar/Alterar dados de Consulta</a>
    </div>
    <ul class="navbar-nav navbar-right">
      <li class"nav-item"><a class="btn btn-outline-secondary" href="{% url 'patient:consultation_list' patient_id %}">Voltar</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
     
      {% if "duplicate" in request.path|cut:"/" %}{% url "patient:consultation_create" patient_id as URL %}{% endif %}
      <form action="{{URL}}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" href="#tab-dados" aria-controls="tab-dados" role="tab" data-toggle="tab">Dados</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-bodycirc" aria-controls="tab-bodycirc" role="tab" data-toggle="tab">Circ. Corp.</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-energycalc" aria-controls="tab-energycalc" role="tab" data-toggle="tab">Calc. Energ.</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-skinfold" aria-controls="tab-skinfold" role="tab" data-toggle="tab">Dobras Corp.</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="tab-dados">
              <div class="form-group">
                <label class="control-label">Paciente</label>
                <input class="form-control input-md" type="text" id="disabledTextInput" value="{{patient.name}}" disabled>
              </div>
              {% for field in form %}
              {% if field.errors %}
              <div class="form-group error" >
                <label class="control-label" >{{ field.label }}</label>
                {{ field|add_class:"form-control input-md" }}
                {% for error in field.errors%}
                <span class="help-inline error">{{ error}}</span>
                {% endfor%}
              </div>
              {%else%}
              <div class="form-group">
                <label class="control-label" >{{ field.label }}</label>
                {% if field.label == "Paciente" %}
                {{ field|add_class:"form-control input-md" }}
                <a class="badge badge-primary" href="{% url 'patient:create' %}">Paciente novo? Clique aqui para cadastrar.</a>
                {% elif field.label == "Data da consulta" %}
                <div class="input-group date datepicker">
                  {{ field|add_class:"form-control input-md" }}
                  <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                {% elif field.label == "Patologia" %}
                {{ field|add_class:"form-control input-md" }}
                <a href="#modal" class="badge badge-info" data-toggle="modal">Patologia nova? Clique aqui para cadastrar.</a>
                {% else %}
                {{ field|add_class:"form-control input-md" }}
                {% endif %}
              </div>
              {%endif%}
              {% endfor %}
              <h4>Anexos</h4>
      				{% for formset_error in exam_formset.non_form_errors %}
      				<div class="alert alert-error">
      				    <button type="button" class="close" data-dismiss="alert">×</button>
      				    {{formset_error}}
      				</div>
      				{% endfor %}
      				{% for dict in exam_formset.errors %}
      				{% for formset_error in dict.values %}
      				<div class="alert alert-error">
      				    <button type="button" class="close" data-dismiss="alert">×</button>
      				    {{formset_error}}
      				</div>
      				{% endfor %}
      				{% endfor %}
              <div class="table-responsive">
                <table class="table table-striped" id="items_table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Descrição</th>
                      <th>Arquivo</th>
                      <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for form_item in exam_formset.forms %}
                    <tr id="{{ form_item.prefix }}-row">
                      {{form_item.id}}
                      <td>{% if form_item.instance.id %} {{form_item.instance.id}}{{form_item.DELETE}} {%endif%}</td>
                      <td>{% if form_item.description.errors %}{{form_item.description.errors}}{{form_item.description|add_class:"form-control  has-error has-feedback"}}{%else%}{{form_item.description|add_class:"form-control"}}{%endif%}</td>
                      <td>{% if form_item.path.errors %}{{form_item.path.errors}}{{form_item.path|add_class:"form-control  has-error has-feedback"}}{%else%}{{form_item.path|add_class:"form-control"}}{%endif%}</td>
                      <td></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {{ exam_formset.management_form }}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab-bodycirc">
              <div class="form-row">
                {% for field in bodycirc_form %}
                {% if field.errors %}
                <div class="col-lg-6">
                  <div class="form-group error" >
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                    {% for error in field.errors%}
                    <span class="help-inline error">{{ error}}</span>
                    {% endfor%}
                  </div>
                </div>
                {%else%}
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                  </div>
                </div>
                {%endif%}
                {% endfor %}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab-energycalc">
              <div class="form-row">
                {% for field in energycalc_form %}
                {% if field.errors %}
                <div class="col-lg-6">
                  <div class="form-group error" >
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                    {% for error in field.errors%}
                    <span class="help-inline error">{{ error}}</span>
                    {% endfor%}
                  </div>
                </div>
                {%else%}
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                  </div>
                </div>
                {%endif%}
                {% endfor %}
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="control-label" >MBR</label>
                    <input type="text" name="mbr" value="{{consultation.energycalc.mbr|floatformat:2}}" id="id_mbr" required="" class="form-control input-md" maxlength="255">
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab-skinfold">
              <div class="form-row">
                {% for field in skinfold_form %}
                {% if field.errors %}
                <div class="col-lg-6">
                  <div class="form-group error" >
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                    {% for error in field.errors%}
                    <span class="help-inline error">{{ error}}</span>
                    {% endfor%}
                  </div>
                </div>
                {%else%}
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="control-label" >{{ field.label }}</label>
                    {{ field|add_class:"form-control input-md" }}
                  </div>
                </div>
                {%endif%}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" value="Salvar" class="btn btn-primary">
              <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
              Salvar
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{{ form.media }}

<script type="text/javascript">
$(document).ready(function(){
  $("#id_date").attr("readonly", "true");
  $("#id_date").datepicker({
    format: "dd/mm/yyyy",
    todayBtn: "linked",
    language: "pt-BR",
    autoclose: true,
    todayHighlight: true
  });
  $(function() {
        $('#items_table tbody tr').formset({
            // For inline formsets, be sure to set the prefix, as the default prefix
            // ('form') isn't correct.
            // Django appears to generate the prefix from the lowercase plural
            // name of the related model, with camel-case converted to underscores.
            prefix: '{{ exam_formset.prefix }}',
            addText: 'Novo',          // Text for the add link
          deleteText: 'Remover',
        });
    });
  $("#id_mbr").attr("readonly", "true");
  //$("#id_resultmbr").text('MBR: {{consultation.energycalc.mbr}}');
});
</script>
{% endblock %}
