{% load staticfiles %}
{% load i18n static %}
{% load sass_tags %}
{% load compress %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="apple-touch-icon" href="http://getbootstrap.com/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
	<link rel="icon" href="http://getbootstrap.com/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
	<link rel="icon" href="http://getbootstrap.com/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
	<link rel="manifest" href="http://getbootstrap.com/assets/img/favicons/manifest.json">
	<link rel="mask-icon" href="http://getbootstrap.com/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
	<link rel="icon" href="http://getbootstrap.com/favicon.ico">

	{% block styles %}
	<!-- CSS Comprimido -->
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/animation.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/formset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% sass_src 'css/bootstrap.scss' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/select2-bootstrap.min.css' %}">
	
	{% compress js %}
	<script type="text/javascript" src="{% static 'js/fontawesome-all.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	{% endcompress %}
	{% endblock %}

	<title>
	{% block title %}
	SysNut - Sistema para Nutricionistas
	{% endblock %}
	</title>
</head>
<body>
	<div class="loading mx-auto d-block"></div>

	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-pink">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="{% url 'core:index' %}"><i class="fa fa-home"></i></a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'core:index' %}">Início <span class="sr-only">(current)</span></a>
				</li>

				<!-- ícone na navbar -->
				{% if not user.is_authenticated %}
				{% include "navbar_default.html" %}
				{% elif user.is_authenticated and user.is_superuser %}
				{% include "navbar_admin.html" %}
				{% elif user.is_authenticated and perms.patient.add_patient %}
				{% include "navbar_nutritionist.html" %}
				{% else %}
				{% include "navbar_user.html" %}
				{% endif %}
			</ul>
		</div>
	</nav>
	<!-- NAVBAR -->

	<!-- Mensagens -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2">
				{% if messages %}
				{% for message in messages %}
				<div class="alert {{ message.tags }} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>Atenção</strong>
					<p>{{ message }}</p>
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
	<div class="container-fluid">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2">
	{% block content %}

	{% endblock %}
	</div>
	</div>
	{% block body %}
	{% endblock %}

	<div class="pb-4">
	</div>
	<footer class="footer text-center">
		<div class="container-fluid">
			<div class="mt-4"></div>
			<span class="text-light">
				<div class="row">
					<div class="col-md-12">
					Este software é livre para redistribuição e/ou modifação sob os termos da <a class="sysnut-link" href="https://www.gnu.org/licenses/gpl.txt">Licença GNU GPL</a>.
						<div class="links-footer">
							<a class="link-footer" href="{% url 'core:index' %}">Início</a>
							<a class="link-footer" href="{% url 'core:about' %}">Sobre</a>
						</div>
					</div>
				</div>
			</span>
		</div>
	</footer>

	{% block scripts %}
	{% compress js %}
	<script type="text/javascript" src="{% static 'formset/jquery.formset.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'js/chosen.jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/inputmask.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/popover.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
	{% endcompress %}
	{% endblock %}

</body>


</html>
