{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="pt-4"></div>
      <div class="align-content-center" style="">
        <DIV class="slide-in-fwd-center">
        <center>
          <img src="{% static 'img/logo-index.png' %}" class='img-responsive'>
          <h1>Bem-vindo</h1>
          <p>Sistema para Nutricionistas.</p>
          <h1><b>{{ get_user_logged }}</b></h1>
          <p>Ajude os desenvolvedores, responsa a nossa pesquisa. É rápido :)</p>
          <a href="#">Link da pesquisa</a>
          <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
        </DIV>
        </center>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}

{{ block.super }}
<script type="text/javascript">
$(function () {
  $('.example-popover').popover({
    container: 'body'
  })
})

</script>

{% endblock%}