{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="pt-4"></div>
      <div class="align-content-center" style="">
        <DIV class="slide-in-fwd-center">
        <center>
          <img src="{% static 'img/logo-index.png' %}" class='img-responsive'>
          <h1>Bem-vindo</h1>
          <p>Sistema para Nutricionistas.</p>
          <h1><b>{{ get_user_logged }}</b></h1>
          <p>Ajude os desenvolvedores, responsa a nossa pesquisa. É rápido :)</p>
          <a href="#">Link da pesquisa</a>
        </DIV>
        </center>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>