{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div style="margin-top: 3em;">
        <center>
          <img src="{% static 'img/logo-index.png' %}" class='img-responsive'>
          <h1>Bem-vindo</h1>
          <p>Sistema para Nutricionistas.</p>
          <h1><b>{{ get_user_logged }}</b></h1>
      
        </center>
      </div>
    </div>
  </div>
</div>
{% endblock %}
