{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sobre">
          <h1 class="text-banner">
            Instruções
          </h1>
          <p>Siga as instruções abaixo para entender como o sistema funciona.</p>
          <a href="https://www.youtube.com/playlist?list=PL1c1UZQarm9DRhJwxf94a4_lIqbTywIBp" class="btn btn-primary" target="_blank"><i class="fab fa-youtube fa-fw"></i>Acompanhe nosso tutorial disponível no YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="color-div">
      <div class="titulo text-center">
        <h3 class="text-banner">Passo 1</h3>
      </div>
      <div class="list-itens">
        <div class="post">
          <b><i class="far fa-address-card fa-fw sysnut"></i>Cadastro de Pacientes</b>
          <p></p>
          Antes de qualquer coisa, você precisa cadastrar o paciente ao qual fará o acompanhamento. Esse paciente terá acesso ao sistema com login e senha e através dele, terá acesso aos cardápios que você disponibilizar. Faça o cadastro <b><a href="{% url 'patient:create' %}">aqui</a></b>.
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-6">
      <div class="color-div">
      <div class="titulo text-center">
        <h3 class="text-banner">Passo 2</h3>
      </div>
      <div class="list-itens">
        <div class="post">
          <b><i class="fa fa-user-md fa-fw sysnut"></i>Cadastro de Consulta</b>
          <p></p>
          Após cadastrar o paciente, você fará o cadastro das informações do mesmo (bioimpedância, circunferência corporal, entre outros). Você poderá cadastrar muitas informações lá, todas para você poder acompanhar seu paciente. Você poderá alterar futuramente se quiser, não precisa preencher todos agora. Faça o cadastro <b><a href="{% url 'patient:list' %}">aqui</a></b>, depois clicando em <b>Ações - Consultas</b>.
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-12">
      <div class="color-div">
      <div class="titulo text-center">
        <h3 class="text-banner">Passo 3</h3>
      </div>
      <div class="list-itens">
        <div class="post">
          <b><i class="fa fa-utensils fa-fw sysnut"></i>Cadastro de Cardápio</b>
          <p></p>
          Depois de efetuar o cadastro da consulta, você poderá disponibilizar um cardápio para o paciente. Lembre-se de <b><a href="{% url 'nutritionist:guidance_create' %}">cadastrar uma orientação</a></b>, caso queira deixar algum aviso para o paciente sobre o cardápio. Faça o cadastro de cardápio <b><a href="{% url 'patient:list' %}">aqui</a></b>, clicando <b>Ações - Consultas</b> e logo depois em <b>Ações - Cardápios</b>.
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-12">
      <div class="color-div">
      <div class="titulo text-center">
        <h3 class="text-banner">Sugestões</h3>
      </div>
      <div class="list-itens">
        <div class="post">
          <b><i class="far fa-thumbs-up fa-fw sysnut"></i>Algumas dicas</b>
          <p></p>
          O sistema dispobiniliza de orientações onde você pode deixar mensagens sobre o cardápio de acordo com as necessidades do paciente. <p></p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- Preloader -->
  
{% endblock %}

{% block scripts %}

{{ block.super }}


</script>

{% endblock%}