<li class="nav-item">
  <a href="{% url 'core:instructions' %}" class="nav-link">Instruções</a>
</li>
<li class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
    Paciente
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'patient:create' %}">
      <i class="fa fa-edit" aria-hidden="true"></i>
      Novo
    </a>
    <a class="dropdown-item" href="{% url 'patient:list' %}">
      <i class="fa fa-list-ul" aria-hidden="true"></i>
      Lista
    </a>
  </div>
</li>
<li class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
    Alimento
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'food:add' %}">
      <i class="fa fa-edit" aria-hidden="true"></i>
      Novo
    </a>
    <a class="dropdown-item" href="{% url 'food:list' %}">
      <i class="fa fa-list-ul" aria-hidden="true"></i>
      Lista
    </a>
    <a class="dropdown-item" href="{% url 'food:upload' %}">
      <i class="fa fa-upload" aria-hidden="true"></i>
      Importar
    </a>
  </div>
</li>
<li class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
    Orientações
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'nutritionist:guidance_create' %}">
      <i class="fa fa-edit" aria-hidden="true"></i>
      Novo
    </a>
    <a class="dropdown-item" href="{% url 'nutritionist:guidance_list' %}">
      <i class="fa fa-list-ul" aria-hidden="true"></i>
      Lista
    </a>
  </div>
</li>
<li class="nav-item">
  <a href="{% url 'core:calculator' %}" class="nav-link">
    Calculadora
  </a>
</li>
<li class="nav-item">
  <a href="https://bit.ly/2HODQj3" class="nav-link">
    Formulário de Avaliação
  </a>
</li>
</ul>
<ul class="navbar-nav navbar-dark mt-2 mt-lg-0">
  <li class="nav-item dropdown">
    <a href="#" class="nav-link" data-toggle="dropdown">
      <p class="fa fa-lock" aria-hidden="true"></p>  {{ user.username }}
      <b class="caret"></b>
    </a>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'nutritionist:logo' user.pk %}">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Inserir Logo
      </a>
      <a class="dropdown-item" href="{% url 'account:edit' %}">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Editar
      </a>
        <a class="dropdown-item" href="{% url 'account:password_change' %}">
          <i class="fa fa-key" aria-hidden="true"></i>
          Altera senha
        </a>
        <a class="dropdown-item" href="{% url 'account:logout' %}">
          <i class="fa fa-sign-out-alt" aria-hidden="true"></i>
          Sair
        </a>
    </div>
  </li>
