<li class="nav-item">
	<a class="nav-link" href="{% url 'patient:report' request.user.id %}"><i class="fa fa-file-alt"></i> Visualizar Relatório</a>
</li>

</ul>
<ul class="navbar-nav navbar-dark mt-2 mt-lg-0">
  <li class="nav-item dropdown">
		<a href="#" class="nav-link" data-toggle="dropdown">
			<p class="fa fa-lock" aria-hidden="true"></p> {{ user.username }}
			<b class="caret"></b>
		</a>
		<div class="dropdown-menu dropdown-menu-right">
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="{% url 'account:edit' %}">
				<i class="fa fa-edit" aria-hidden="true"></i>
				Editar
			</a>
				<a class="dropdown-item" href="{% url 'account:password_change' %}">
					<i class="fa fa-key" aria-hidden="true"></i>
					Altera senha
				</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{% url 'account:logout' %}">
					<i class="fa fa-sign-out-alt" aria-hidden="true"></i>
					Sair
				</a>
		</div>
	</li>
