{% extends 'base.html' %}

{% block body %}

<nav class="navbar navbar-default navbar-margin">
  <div class="container">
    <a class="navbar-brand" href="#">Dados do Alimento</a>
    <ul class="nav navbar-nav pull-right">
      <li>
        <p class="navbar-btn">
          <a class="btn btn-default nav-dist-btn" href="{% url 'food:list' %}">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Voltar
          </a>
        </p>
      </li>

      <li>
        <p class="navbar-btn">
          <a class="btn btn-default" href="{% url 'food:edit' object.id %}">
            <i class="fa fa-edit" aria-hidden="true"></i>
            Editar
          </a>
        </p>
      </li>
    </ul>
  </div>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
          <strong>Descrição:</strong>
          {{ object.description }}
        </p>
        <p>
          <strong>Data:</strong>
          {{ object.publication_date }}
        </p>
        <p>
          <strong>Presentes:</strong>
          {{ object.quantity_present }}
        </p>
        <p>
          <strong>Resumo:</strong>
          {{ object.summary|safe }}
        </p>
        <p>
          <strong>Publicado:</strong>
          {% if object.published %}
              <td>Sim</td>
          {% else %}
              <td>Não</td>
          {% endif %}
        </p>
        <p>
          <strong>Link:</strong>
          <a href="/media/{{object.file}}" class="btn btn-primary">
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
            Download
          </a>
        </p>

      </div>
    </div>
  </div>

  {% endblock %}
