{% extends 'base.html' %}
{% load widget_tweaks %}
{% block body %}
<nav class="navbar navbar-light bg-light nav-item">
  <div class="container-fluid justify-content-center align-items-center">
    <div class="navbar-header">
      <a class="navbar-brand text-center" href="#">Alteração dados do usuário</a>
    </div>
    <ul class="navbar-nav navbar-right">
      <li class"nav-item"><a class="nav-link" href="javascript:window.history.go(-1)">Voltar</a></li>
    </ul>
  </div>
</nav>

<div class="container">
	<div class="row justify-content-center align-items-center">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<form action="." class="form-group" method="post">{% csrf_token %}
				<fieldset>
					{% for field in form %}
					{% if field.errors %}
					<div class="form-group error" >
						<label class="control-label" >{{ field.label }}</label>
						{{ field|add_class:"form-control input-md" }}
						{% for error in field.errors%}
						<small class="form-text text-muted"><i class="fa fa-exclamation-circle fa-fw" color="red"></i>{{ error}}</small>
						{% endfor%}
					</div>
					{%else%}
					<div class="form-group">
						<label class="control-label" >{{ field.label }}</label>
						{{ field|add_class:"form-control input-md" }}
					</div>
					{%endif%}
					{% endfor %}
					<div class="form-group">
						<button type="submit" value="Salvar" class="btn btn-primary">
							<span class="fa fa-save" aria-hidden="true"></span>
							Salvar
						</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

{% endblock %}
