{% extends 'base.html' %}
{% load widget_tweaks %}
{% block body %}
<nav class="navbar navbar-light bg-light nav-item">
  <div class="container-fluid justify-content-center align-items-center">
    <div class="navbar-header">
      <a class="navbar-brand text-center" href="#">Vamos ajudar a recuperar sua senha</a>
    </div>
    <ul class="navbar-nav navbar-right">
      <li class"nav-item"><a class="nav-link" href="javascript:window.history.go(-1)">Voltar</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <h4><b><center>Um link foi enviado ao seu E-mail para ajudar a recuperar sua senha.</center></b></h4>
  <!-- Redirecina depois de 4 segundos -->
  <meta http-equiv="REFRESH" content="4;url={% url 'account:login' %}">
</div>

{% endblock %}
